<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.app.AppConfigMapper">


    <insert id="app_config_set_station">
        INSERT INTO  dxj_jjb_station ( deptName, station,  routeName)

      VALUES( "${deptName}", "${station}","${routeName}")
    </insert>
    <insert id="app_config_set_station_user">
                INSERT INTO  dxj_jjb_station_user ( deptName, station, team,userName,userId)

                VALUES( "${deptName}", "${station}","${team}","${userName}","${userId}")
    </insert>
    <update id="app_config_update_station">

       UPDATE dxj_jjb_station
      SET
                routeName="${routeName}"
      WHERE
                deptName="${deptName}" AND
                station="${station}"
    </update>
    <update id="app_config_update_station_user">
          UPDATE dxj_jjb_station_user
      SET
                userId="${userId}" ,userName="${userName}"
      WHERE
                deptName="${deptName}" AND station="${station}"
    </update>
    <delete id="app_config_delete_station">
         DELETE  FROM dxj_jjb_station WHERE routeName="${routeName}" and    deptName="${deptName}" AND   station="${station}"
    </delete>
    <delete id="app_config_delete_station_user">
         DELETE  FROM dxj_jjb_station_user WHERE userId="${userId}" and    deptName="${deptName}" AND   station="${station}" and team="${team}"
    </delete>
    <select id="app_config_select_station" resultType="com.demo.model.app.APPUserConfig">
        SELECT * FROM dxj_jjb_station
        where 1=1
        <if test="deptName!='全部部门' ">
            and   deptName="${deptName}"
        </if>
        <if test="routeName!='test'">
            and routeName="${routeName}"
        </if>
        <if test="station!=''">
            AND   station="${station}"
        </if>
        ORDER BY deptName,station,routeName
    </select>
    <select id="app_config_getJob_user" resultType="com.demo.model.app.APPUserConfig">
        SELECT DISTINCT station  from dxj_jjb_station WHERE deptName="${deptName}"
    </select>
    <select id="app_config_select_station_user" resultType="com.demo.model.app.APPUserConfig">
          SELECT * FROM dxj_jjb_station_user
          WHERE
              1=1
          <if test="team!='test'">
            and  team="${team}"
          </if>

          <if test="deptName!='全部部门'">
            and  deptName="${deptName}"
          </if>
          <if test="station!='test'">
              and  station="${station}"
          </if>
          <if test="userId != 'test'">
              and userId="${userId}"
          </if>
    </select>
</mapper>