<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.changeShifts.ChangeShiftsMapper">

    <select id="get_spot_statistics" resultType="com.demo.model.changeShifts.ChangeShiftsSpot">
        SELECT devName,SC_PART as 'sc_part',SC_CONTENT as 'sc_content',RESULT 'result',ALTPID AS 'altpid'
        FROM dxj_spot_result
        WHERE TASKSTART_TM>="${startTime}" AND "${endTime}">TASKSTART_TM AND  DEPT_NAME="${deptName}" and
         "${routeNames}"  LIKE CONCAT("%",ROUTE_NAME,"%")
    </select>
    <select id="getUserInfo" resultType="com.demo.model.changeShifts.ChangeShiftsConfig">
           SELECT
                a.deptName,a.station,a.team,GROUP_CONCAT(b.routeName) routeName
           FROM
                dxj_jjb_station_user a ,dxj_jjb_station b
           WHERE
                a.userId="${userId}" AND a.deptName=b.deptName AND a.station=b.station
           GROUP BY a.deptName,a.station
    </select>
    <select id="getTeamNumInfo" resultType="com.demo.model.changeShifts.ChangeShiftsConfig">
        SELECT * FROM dxj_jjb_paiban WHERE num=${num}
    </select>
    <select id="getStationRoutesInfo" resultType="com.demo.model.changeShifts.ChangeShiftsConfig">
        SELECT GROUP_CONCAT(routeName) as 'routeName' ,a.deptName,a.station from dxj_jjb_station a,dxj_jjb_station_user b
        WHERE b.userId="${userId}" AND a.deptName=b.deptName AND a.station=b.station
    </select>
    <select id="get_sksh_jjbData" resultType="com.demo.model.changeShifts.jobs.CrushLime">
        SELECT * FROM dxj_jjb_sk_sh WHERE param1="${deptName}" AND param2="${station}"  AND  dete="${date}" AND shift="${shift}"
    </select>

</mapper>