<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.report.equip.week.ReportWeekMapper">
    <select id="REPORT_WEEK_SPOT_LIST" resultType="com.demo.model.report.Report">


  SELECT
					COUNT(*) as 'zong' ,
					count(case when ALTPID is NULL THEN 1 end ) as 'wjian',
					count(case when ALTPID=0 THEN 1 end ) as 'zchang',

					count(case when ALTPID=1 THEN 1 end ) as 'bjing',
					count(case when ALTPID=2 THEN 1 end ) as 'wxian',
        (case
        when USERNAME!='' then USERNAME
        when CHARGE_CNAME!='' then CHARGE_CNAME
         end ) as name,
        max(SHIFTGROUPNAME) as teamName
			        from dxj_spot_result WHERE
        <if test="workshop !='电仪工段'">
                DEPT_NAME="${team}"

--      磨浮
              <if test="team=='磨浮设备'">
                    <if test="equip=='再磨机'">
                        AND  ((ZONE_NAME='再磨机主体' OR ZONE_NAME='FX350-GT旋流器' )
                        or (ROUTE_NAME='浮选底层' AND  (devName = '1#离心式渣浆泵（再磨砂）' OR  devName = '2#离心式渣浆泵（再磨砂）'))
                        or ZONE_NAME='再磨机稀油润滑系统'
                        )

                    </if>
                    <if test="equip=='球磨机'">
                        AND  (ZONE_NAME='球磨机主体' OR ZONE_NAME='FX660-GT旋流器' or ZONE_NAME='球磨机稀油润滑系统')

                    </if>
                    <if test="equip=='半自磨机'">
                        AND  (ZONE_NAME='半自磨机主体'  or  ZONE_NAME='粗砂泵' or ZONE_NAME='半自磨机稀油润滑系统')
                    </if>
                    <if test="equip=='中板皮带'">
                        and  (ZONE_NAME='5皮带' OR ZONE_NAME='中重型板式给料机'  OR ZONE_NAME='石灰泵房')
                    </if>
                    <if test="equip=='浮选机'">
                          and  (ROUTE_NAME='浮选系统'  OR(ZONE_NAME='浮选底层区域一' AND devName LIKE '#脱泥泵'))
                    </if>
                    <if test="equip=='鼓风机'">
                        AND (ZONE_NAME='浮选柱' or ZONE_NAME='鼓风机')
                    </if>
                    <if test="equip=='浮选泵'">
                        AND (ROUTE_NAME='浮选底层' OR
                        ( ROUTE_NAME='浮选柱' AND devName LIKE '%铜精选%' ))
                        and devName != '1#离心式渣浆泵（再磨砂）' and  devName != '2#离心式渣浆泵（再磨砂）'
                        and devName != '1#脱泥泵' and  devName != '2#脱泥泵'
                    </if>
                  AND TASKSTART_TM>="${startTime}"
                  AND   "${endTime}" >=TASKSTART_TM

              </if>
--  碎矿
              <if test="team=='碎矿设备'">
                    <if test="equip=='重板'">
                        AND  (ZONE_NAME='重板' )
                    </if>
                    <if test="equip=='颚破'">
                        AND  (ZONE_NAME='颚破' )
                    </if>
                    <if test="equip=='2#皮带'">
                        AND  (ZONE_NAME='2#皮带' )
                    </if>
                    <if test="equip=='4#皮带'">
                        AND  (ZONE_NAME='4#皮带' )
                    </if>
                    <if test="equip=='石灰制乳输送'">
                        AND  (ZONE_NAME='石灰制乳' or ZONE_NAME='石灰输送' )
                    </if>
                  AND TASKSTART_TM>="${startTime}"
                  AND   "${endTime}" >=TASKSTART_TM
              </if>
--     精尾
              <if test="team=='精尾设备'">
                    <if test="equip=='压滤机'">
                        AND  (ZONE_NAME='压滤机' )
                    </if>
                    <if test="equip=='过滤机'">
                        AND  (ZONE_NAME='过滤机' )
                    </if>
                    <if test="equip=='空压机'">
                        AND (ZONE_NAME='空气压缩机组')
                    </if>
                    <if test="equip=='尾砂泵'">
                        AND ROUTE_NAME='尾砂泵'
                    </if>
                    <if test="equip=='厂前回水泵'">
                        AND ZONE_NAME='厂前回水泵'
                    </if>
                    <if test="equip=='浓密机'">
                        AND(ROUTE_NAME='浓密机' and  devName not  like  '%离心%')
                    </if>
                  AND     TASKSTART_TM>="${startTime}"
                  AND   "${endTime}" >=TASKSTART_TM
              </if>
--    磨浮生产
              <if test="team=='磨浮生产'">
                  <if test="equip=='皮带岗'">
                      AND(ROUTE_NAME='皮带岗' )
                  </if>
                  <if test="equip=='磨矿岗'">
                      AND(ROUTE_NAME='磨矿岗' )
                  </if>
                  <if test="equip=='浮选岗'">
                      AND(ROUTE_NAME='鼓风机' or ROUTE_NAME='浮选柱' or ROUTE_NAME='浮选路线' or ROUTE_NAME='浮选底层')
                  </if>
                  AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                  AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')

              </if>
--     碎矿生产
               <if test="team=='碎矿生产'">
                    <if test="equip=='皮带岗'">
                        AND(ROUTE_NAME='碎矿胶带运输机岗' )
                    </if>
                    <if test="equip=='石灰乳化岗'">
                        AND(ROUTE_NAME='石灰乳化岗' )
                    </if>
                    <if test="equip=='破碎岗'">
                        AND(ROUTE_NAME='破碎机岗')
                    </if>

                       AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                       AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')

               </if>
--        精尾生产
                <if test="team=='精尾生产'">
                    <if test="equip=='回水岗'">
                        AND(ROUTE_NAME='回水岗' )
                    </if>
                    <if test="equip=='压滤机岗'">
                        AND(ROUTE_NAME='压滤机岗' )
                    </if>
                    <if test="equip=='过滤机岗'">
                        AND(ROUTE_NAME='过滤机岗')
                    </if>
                    <if test="equip=='尾砂泵岗'">
                        AND(ROUTE_NAME='尾砂泵岗' )
                    </if>
                    <if test="equip=='中心气站岗'">
                        AND(ROUTE_NAME='中心气站岗')
                    </if>
                    AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                    AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')
                </if>
        </if>
-- 电仪


        <if test="workshop=='电仪工段'">
            DEPT_NAME="电仪工段"

                    <if test="equip=='重板颚破'">
                        AND ROUTE_NAME='碎矿系统' AND (ZONE_NAME='重板' OR  ZONE_NAME='颚破')
                    </if>
                    <if test="equip=='2#4#皮带'">
                        AND ROUTE_NAME='碎矿系统' AND (ZONE_NAME='2#皮带' OR  ZONE_NAME='4#皮带')
                    </if>
                    <if test="equip=='石灰输送'">
                        AND ROUTE_NAME='石灰输送'
                    </if>
                    <if test="equip=='浓密机'">
                       and (ROUTE_NAME='浓密机' OR ROUTE_NAME='厂前回水泵')
                    </if>
                    <if test="equip=='压滤过滤'">
                        and (ROUTE_NAME='压滤、过滤机' OR ROUTE_NAME='尾砂泵')
                    </if>
                    <if test="equip=='鼓风机'">
                        and (ROUTE_NAME='鼓风机')
                    </if>
                    <if test="equip=='空压机'">
                        AND (ROUTE_NAME='空气压缩机组')
                    </if>
                    <if test="equip=='皮带中板'">
                        AND (ROUTE_NAME='中板皮带' AND (devName='1#中重型板式给矿机电机'
                        OR devName='2#中重型板式给矿机电机' OR devName='5#皮带运输机电机'))
                    </if>
                    <if test="equip=='3M石灰'">
                       and (ROUTE_NAME='中板皮带' AND (devName='1#石灰搅拌桶加压电机'
                            OR devName='2#石灰搅拌桶加压电机' OR devName='3米石灰搅拌桶电机')
                        )
                    </if>
                    <if test="equip=='浮选泵'">
                        AND (ROUTE_NAME='浮选柱' OR ROUTE_NAME='浮选底层')
                    </if>
                    <if test="equip=='半自磨机'">
                        AND ((ZONE_NAME='磨机区域' AND devName='MZS6433半自磨机电机')
                        OR (ZONE_NAME='磨机底层' AND (devName='MZS6433半自磨机高压稀油站电机' OR devName='MZS6433半自磨机低压稀油站电机'
                        OR devName='1#离心式渣浆泵电机（粗砂）' OR devName='2#离心式渣浆泵电机（粗砂）')))
                    </if>
                    <if test="equip=='再磨机'">
                        AND ((ZONE_NAME='磨机区域' AND devName='MQY2745再磨机电机')
                        OR (ZONE_NAME='磨机底层' AND devName='MQY2745再磨机高低压稀油站电机'))
                    </if>
                    <if test="equip=='球磨机'">
                        AND ((ZONE_NAME='磨机区域' AND devName='MQY4870球磨机电机')
                        OR (ZONE_NAME='磨机底层' AND devName='MQY4870球磨机高低压稀油站电机'))
                    </if>
                    <if test="equip=='浮选机'">
                        AND ROUTE_NAME='浮选系统'
                    </if>
                    AND TASKSTART_TM>="${startTime}"
                    AND   "${endTime}" >=TASKSTART_TM
        </if>



    </select>
    <select id="REPORT_WEEK_DEAL_LIST" resultType="com.demo.model.report.Report">

        SELECT
            CONCAT(devName,'--',SC_PART,'--',SC_CONTENT,'--结果为：',RESULT,'--备注：',
            (case WHEN REMARK is NULL THEN '无' ELSE REMARK END ) ) as 'content'
            ,COMPLETE_TM as 'uploadTime'
            ,alarm_flag as 'deal'
            ,alarm_remark as 'dealResult'
            ,alarm_manage_name as 'dealName'
            ,alarm_manage_time as 'dealTime'
        from
            dxj_spot_result
        WHERE
            <if test="workshop !='电仪工段'">
                  DEPT_NAME="${team}"
    --      磨浮设备
                 <if test="team=='磨浮设备'">
                        <if test="equip=='再磨机'">
                            AND  (ZONE_NAME='再磨机主体' OR ZONE_NAME='FX350-GT旋流器' or ZONE_NAME='再磨机稀油润滑系统')
                        </if>
                        <if test="equip=='球磨机'">
                            AND  (ZONE_NAME='球磨机主体' OR ZONE_NAME='FX660-GT旋流器'or ZONE_NAME='球磨机稀油润滑系统' )
                        </if>
                        <if test="equip=='半自磨机'">
                            AND  (ZONE_NAME='半自磨机主体'  or  ZONE_NAME='粗砂泵'  or ZONE_NAME='半自磨机稀油润滑系统')
                        </if>
                        <if test="equip=='中板皮带'">
                            and    (devName='5#皮带运输机' OR devName='1#中重型板式给矿机' OR devName='2#中重型板式给矿机')
                        </if>
                        <if test="equip=='浮选机'">
                            and  (ROUTE_NAME='浮选系统'  OR(ZONE_NAME='浮选底层区域一' AND devName LIKE '#脱泥泵'))
                        </if>
                        <if test="equip=='鼓风机'">
                           AND (ZONE_NAME='浮选柱' or ZONE_NAME='鼓风机')
                        </if>
                        <if test="equip=='浮选泵'">
                            AND (ROUTE_NAME='浮选底层' OR
                            ( ROUTE_NAME='浮选柱' AND devName LIKE '%铜精选%' ))
                            and devName != '1#离心式渣浆泵（再磨砂）' and  devName != '2#离心式渣浆泵（再磨砂）'
                            and devName != '1#脱泥泵' and  devName != '2#脱泥泵'
                        </if>
                     AND TASKSTART_TM>="${startTime}"
                     AND   "${endTime}" >=TASKSTART_TM
                 </if>
    --      碎矿设备
                  <if test="team=='碎矿设备'">
                        <if test="equip=='重板'">
                            AND  (ZONE_NAME='重板' )
                        </if>
                        <if test="equip=='颚破'">
                            AND  (ZONE_NAME='颚破' )
                        </if>
                        <if test="equip=='2#皮带'">
                            AND  (ZONE_NAME='2#皮带' )
                        </if>
                        <if test="equip=='4#皮带'">
                            AND  (ZONE_NAME='4#皮带' )
                        </if>
                        <if test="equip=='石灰制乳输送'">
                            AND ROUTE_NAME='石灰系统'
                        </if>
                      AND TASKSTART_TM>="${startTime}"
                      AND   "${endTime}" >=TASKSTART_TM
                  </if>

    --     精尾设备
                  <if test="team=='精尾设备'">
                        <if test="equip=='压滤机'">
                            AND  (ZONE_NAME='压滤机' )
                        </if>
                        <if test="equip=='过滤机'">
                            AND  (ZONE_NAME='过滤机' )
                        </if>
                        <if test="equip=='空压机'">
                                AND ROUTE_NAME='空气压缩机组'
                        </if>
                        <if test="equip=='尾砂泵'">
                            AND ROUTE_NAME='尾砂泵'
                        </if>
                        <if test="equip=='厂前回水泵'">
                            AND ZONE_NAME='厂前回水泵'
                        </if>
                        <if test="equip=='浓密机'">
                            AND(ROUTE_NAME='浓密机' and  devName not  like  '%离心%')
                        </if>
                      AND TASKSTART_TM>="${startTime}"
                      AND   "${endTime}" >=TASKSTART_TM
                  </if>
--        磨浮生产
                  <if test="team=='磨浮生产'">
                      <if test="equip=='皮带岗'">
                          AND(ROUTE_NAME='皮带岗' )
                      </if>
                      <if test="equip=='磨矿岗'">
                          AND(ROUTE_NAME='磨矿岗' )
                      </if>
                      <if test="equip=='浮选岗'">
                          AND(ROUTE_NAME='鼓风机' or ROUTE_NAME='浮选柱' or ROUTE_NAME='浮选路线' or ROUTE_NAME='浮选底层')
                      </if>
                      AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                      AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')
                  </if>
--         碎矿生产
                <if test="team=='碎矿生产'">
                    <if test="equip=='皮带岗'">
                        AND(ROUTE_NAME='碎矿胶带运输机岗' )
                    </if>
                    <if test="equip=='石灰乳化岗'">
                        AND(ROUTE_NAME='石灰乳化岗' )
                    </if>
                    <if test="equip=='破碎岗'">
                        AND(ROUTE_NAME='破碎机岗')
                    </if>
                    AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                    AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')
                </if>
--          精尾生产
                <if test="team=='精尾生产'">
                    <if test="equip=='回水岗'">
                        AND(ROUTE_NAME='回水岗' )
                    </if>
                    <if test="equip=='压滤机岗'">
                        AND(ROUTE_NAME='压滤机岗' )
                    </if>
                    <if test="equip=='过滤机岗'">
                        AND(ROUTE_NAME='过滤机岗')
                    </if>
                    <if test="equip=='尾砂泵岗'">
                        AND(ROUTE_NAME='尾砂泵岗' )
                    </if>
                    <if test="equip=='中心气站岗'">
                        AND(ROUTE_NAME='中心气站岗')
                    </if>
                    AND concat("${endTime}", ' ', '20:00:00') > TASKSTART_TM
                    AND  TASKSTART_TM >=  concat(DATE_FORMAT(date_sub("${startTime}",interval +1 day),'%Y-%m-%d'),' ', '20:00:00')
                </if>
            </if>
-- 电仪
        <if test="workshop=='电仪工段'">
            DEPT_NAME="电仪工段"
            <if test="equip=='重板颚破'">
                AND ROUTE_NAME='碎矿系统' AND (ZONE_NAME='重板' OR  ZONE_NAME='颚破')
            </if>
            <if test="equip=='2#4#皮带'">
                AND ROUTE_NAME='碎矿系统' AND (ZONE_NAME='2#皮带' OR  ZONE_NAME='4#皮带')
            </if>
            <if test="equip=='石灰输送'">
                AND ROUTE_NAME='石灰输送'
            </if>
            <if test="equip=='浓密机'">
                and (ROUTE_NAME='浓密机' OR ROUTE_NAME='厂前回水泵')
            </if>
            <if test="equip=='压滤过滤'">
               and (ROUTE_NAME='压滤、过滤机' OR ROUTE_NAME='尾砂泵')
            </if>
            <if test="equip=='鼓风机'">
                and (ROUTE_NAME='鼓风机')
            </if>
            <if test="equip=='空压机'">
                AND (ROUTE_NAME='空气压缩机组')
            </if>
            <if test="equip=='皮带中板'">
                AND (ROUTE_NAME='中板皮带' AND (devName='1#中重型板式给矿机电机'
                OR devName='2#中重型板式给矿机电机' OR devName='5#皮带运输机电机'))
            </if>
            <if test="equip=='3M石灰'">
               and (ROUTE_NAME='中板皮带' AND (devName='1#石灰搅拌桶加压电机'
                OR devName='2#石灰搅拌桶加压电机' OR devName='3米石灰搅拌桶电机')
                )
            </if>
            <if test="equip=='浮选泵'">
                AND (ROUTE_NAME='浮选柱' OR ROUTE_NAME='浮选底层')
            </if>
            <if test="equip=='半自磨机'">
                AND ((ZONE_NAME='磨机区域' AND devName='MZS6433半自磨机电机')
                OR (ZONE_NAME='磨机底层' AND (devName='MZS6433半自磨机高压稀油站电机' OR devName='MZS6433半自磨机低压稀油站电机'
                OR devName='1#离心式渣浆泵电机（粗砂）' OR devName='2#离心式渣浆泵电机（粗砂）')))
            </if>
            <if test="equip=='再磨机'">
                AND ((ZONE_NAME='磨机区域' AND devName='MQY2745再磨机电机')
                OR (ZONE_NAME='磨机底层' AND devName='MQY2745再磨机高低压稀油站电机'))
            </if>
            <if test="equip=='球磨机'">
                AND ((ZONE_NAME='磨机区域' AND devName='MQY4870球磨机电机')
                OR (ZONE_NAME='磨机底层' AND devName='MQY4870球磨机高低压稀油站电机'))
            </if>
            <if test="equip=='浮选机'">
                AND ROUTE_NAME='浮选系统'
            </if>
            AND TASKSTART_TM>="${startTime}"
            AND   "${endTime}" >=TASKSTART_TM
        </if>

        AND (ALTPID=1 OR ALTPID=2)
        ORDER BY uploadTime

    </select>

    <select id="REPORT_WEEK_SK_YS_RUN_LIST" resultType="com.demo.model.report.Report">

        SELECT
                <if test="workshop=='碎矿工段'">
                    <if test="team=='碎矿设备'">
                        <if test="equip=='4#皮带'">
                            SC_PART as equipName,
                        </if>
                        <if test="equip=='2#皮带'">
                            SC_PART as equipName,
                        </if>
                        <if test="equip=='颚破'">

                            (CASE WHEN  devName='1#皮带运输机' THEN devName ELSE SC_PART END)as equipName,
                        </if>
                        <if test="equip=='重板'">
                            (CASE WHEN devName='湿式除尘风机' THEN devName ELSE SC_PART END)as equipName,
                        </if>
                        <if test="equip=='石灰制乳输送'">
                            devName as equipName,
                        </if>
                    </if>
                    <if test="team=='碎矿生产'">
                        <if test="equip=='破碎岗'">
                            devName as equipName,
                        </if>
                        <if test="equip=='皮带岗'">
                            devName as equipName,
                        </if>
                        <if test="equip=='石灰乳化岗'">
                            devName as equipName,
                        </if>
                    </if>
                </if>
                <if test="workshop=='磨浮工段'">
                    <if test="team=='磨浮设备'">
                            devName as equipName,
                    </if>
                    <if test="team=='磨浮生产'">
                            devName as equipName,
                    </if>
                </if>
                <if test="workshop=='精尾工段'">
                    <if test="team=='精尾设备'">
                        devName as equipName,
                    </if>
                    <if test="team=='精尾生产'">
                        devName as equipName,
                    </if>
                </if>
                <if test="workshop=='电仪工段'">
                    <if test="team=='碎矿电仪'">
                        devName as equipName,
                    </if>
                    <if test="team=='磨浮电仪'">
                        devName as equipName,
                    </if>
                    <if test="team=='精尾电仪'">
                        <if test="equip=='浓密机'">
                            (CASE WHEN devName='油泵电机1号' THEN '18m浓密池油泵（行走）'
                            WHEN devName='油泵电机2号' THEN '18m浓密池油泵（提耙）'
                            WHEN devName='1#离心式渣浆泵电机' THEN '1#离心式渣浆泵电机（18m底流）'
                            WHEN devName='2#离心式渣浆泵电机' THEN '2#离心式渣浆泵电机（18m底流）'
                            ELSE devName
                            END
                            ) AS equipName,
                        </if>
                        <if test="equip=='压滤过滤'">
                            devName as equipName,
                        </if>
                        <if test="equip=='空压机'">
                            devName as equipName,
                        </if>
                    </if>
                </if>
                SUM(CASE WHEN ALTPID>0 THEN 1 ELSE 0 END) as  altpid
        from
                dxj_spot_result
        WHERE
                <if test="workshop=='碎矿工段'">
                    <if test="team=='碎矿设备'">
                        <if test="equip=='4#皮带'">
                            DEPT_NAME='碎矿设备'
                            AND ROUTE_NAME='碎矿运输' AND ZONE_NAME='4#皮带'
                        </if>
                        <if test="equip=='2#皮带'">
                            DEPT_NAME='碎矿设备'
                            AND ROUTE_NAME='碎矿运输' AND ZONE_NAME='2#皮带'
                        </if>
                        <if test="equip=='颚破'">
                            DEPT_NAME='碎矿设备'
                            AND ROUTE_NAME='碎矿运输' AND ZONE_NAME='颚破'
                        </if>
                        <if test="equip=='重板'">
                            DEPT_NAME='碎矿设备'
                            AND ROUTE_NAME='碎矿运输' AND ZONE_NAME='重板'
                        </if>
                        <if test="equip=='石灰制乳输送'">
                            DEPT_NAME='碎矿设备'
                            AND ROUTE_NAME='石灰系统'
                        </if>
                    </if>
                    <if test="team=='碎矿生产'">
                        <if test="equip=='破碎岗'">
                            DEPT_NAME='碎矿生产'
                            AND ROUTE_NAME='破碎机岗'
                        </if>
                        <if test="equip=='皮带岗'">
                            DEPT_NAME='碎矿生产'
                            AND ROUTE_NAME='碎矿胶带运输机岗'
                        </if>
                        <if test="equip=='石灰乳化岗'">
                            DEPT_NAME='碎矿生产'
                            AND ROUTE_NAME='石灰乳化岗'
                        </if>
                    </if>
                </if>
                <if test="workshop=='磨浮工段'">
                    <if test="team=='磨浮设备'">
                        <if test="equip=='球磨机'">
                            DEPT_NAME='磨浮设备'  AND  (ZONE_NAME='球磨机主体' OR ZONE_NAME='FX660-GT旋流器'  or ZONE_NAME='球磨机稀油润滑系统'  )
                        </if>
                        <if test="equip=='再磨机'">
                            DEPT_NAME='磨浮设备'   AND  (ZONE_NAME='再磨机主体' OR ZONE_NAME='FX350-GT旋流器' or ZONE_NAME='再磨机稀油润滑系统' )
                        </if>
                        <if test="equip=='半自磨机'">
                            DEPT_NAME='磨浮设备'   AND  (ZONE_NAME='半自磨机主体' or ZONE_NAME='半自磨机稀油润滑系统'  OR ZONE_NAME='粗砂泵' )
                        </if>
                        <if test="equip=='鼓风机'">
                            DEPT_NAME='磨浮设备' AND( ZONE_NAME='浮选柱' OR ZONE_NAME='鼓风机')
                        </if>
                        <if test="equip=='浮选机'">
                            DEPT_NAME='磨浮设备' AND( ROUTE_NAME='浮选系统' OR (ZONE_NAME='浮选底层区域一' AND devName LIKE '%脱泥泵'))
                        </if>
                        <if test="equip=='中板皮带'">
                            DEPT_NAME='磨浮设备' AND	(ZONE_NAME='5皮带' OR ZONE_NAME='中重型板式给料机'  OR ZONE_NAME='石灰泵房')
                        </if>
                        <if test="equip=='浮选泵'">
                            DEPT_NAME='磨浮设备' AND (ROUTE_NAME='浮选底层' OR
                            ( ROUTE_NAME='浮选柱' AND devName LIKE '%铜精选%' ))
                            and devName != '1#离心式渣浆泵（再磨砂）' and  devName != '2#离心式渣浆泵（再磨砂）'
                            and devName != '1#脱泥泵' and  devName != '2#脱泥泵'
                        </if>
                    </if>
                    <if test="team=='磨浮生产'">
                        <if test="equip=='浮选岗'">
                            DEPT_NAME='磨浮生产' and (ROUTE_NAME='鼓风机' OR ROUTE_NAME='浮选柱' OR ROUTE_NAME='浮选路线' OR ROUTE_NAME='浮选底层')
                        </if>
                        <if test="equip=='磨矿岗'">
                            DEPT_NAME='磨浮生产' and (ROUTE_NAME='磨矿岗' )
                        </if>
                        <if test="equip=='皮带岗'">
                            DEPT_NAME='磨浮生产' and (ROUTE_NAME='皮带岗' )
                        </if>
                    </if>
                </if>
                <if test="workshop=='精尾工段'">
                    <if test="team=='精尾设备'">
                        <if test="equip=='压滤机'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='2系统压滤、过滤机' AND ZONE_NAME='压滤机'
                        </if>
                        <if test="equip=='过滤机'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='2系统压滤、过滤机' AND ZONE_NAME='过滤机'
                        </if>
                        <if test="equip=='浓密机'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='浓密机'
                        </if>
                        <if test="equip=='厂前回水泵'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='厂前回水泵'
                        </if>
                        <if test="equip=='空压机'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='空气压缩机组'
                        </if>
                        <if test="equip=='尾砂泵'">
                            DEPT_NAME='精尾设备' AND  ROUTE_NAME='尾砂泵'
                        </if>
                    </if>
                    <if test="team=='精尾生产'">
                        <if test="equip=='回水岗'">
                            DEPT_NAME='精尾生产' and (ROUTE_NAME='回水岗' )
                        </if>
                        <if test="equip=='压滤机岗'">
                            DEPT_NAME='精尾生产' and (ROUTE_NAME='压滤机岗' )
                        </if>
                        <if test="equip=='过滤机岗'">
                            DEPT_NAME='精尾生产' and (ROUTE_NAME='过滤机岗' )
                        </if>
                        <if test="equip=='中心气站岗'">
                            DEPT_NAME='精尾生产' and (ROUTE_NAME='中心气站岗' )
                        </if>
                        <if test="equip=='尾砂泵岗'">
                            DEPT_NAME='精尾生产' and (ROUTE_NAME='尾砂泵岗' )
                        </if>
                    </if>
                </if>
                <if test="workshop=='电仪工段'">
                    <if test="team=='碎矿电仪'">
                        <if test="equip=='重板颚破'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='碎矿系统' AND(ZONE_NAME='重板' OR ZONE_NAME='颚破' )
                        </if>
                        <if test="equip=='2#4#皮带'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='碎矿系统' AND(ZONE_NAME='2#皮带' OR ZONE_NAME='4#皮带' )
                        </if>
                        <if test="equip=='石灰输送'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='碎矿系统' AND(ZONE_NAME='2#皮带' OR ZONE_NAME='4#皮带' )
                        </if>
                    </if>
                    <if test="team=='磨浮电仪'">
                        <if test="equip=='皮带中板'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='中板皮带' AND(devName='5#皮带运输机电机' OR devName='1#中重型板式给矿机电机' OR devName='2#中重型板式给矿机电机')
                        </if>
                        <if test="equip=='3M石灰'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='中板皮带' AND(devName='1#石灰搅拌桶加压电机' OR devName='2#石灰搅拌桶加压电机' OR devName='3米石灰搅拌桶电机')
                        </if>
                        <if test="equip=='再磨机'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='磨机线路' AND(devName='MQY2745再磨机电机' OR devName='MQY2745再磨机高低压稀油站电机' )
                        </if>
                        <if test="equip=='球磨机'">
                            DEPT_NAME='电仪工段' and  ROUTE_NAME='磨机线路' AND(devName='MQY4870球磨机电机' OR devName='MQY4870球磨机高低压稀油站电机' )
                        </if>
                        <if test="equip=='半自磨机'">
                            DEPT_NAME='电仪工段' AND ((ZONE_NAME='磨机区域' AND devName='MZS6433半自磨机电机')
                            OR (ZONE_NAME='磨机底层' AND (devName='MZS6433半自磨机高压稀油站电机' OR devName='MZS6433半自磨机低压稀油站电机'
                            OR devName='1#离心式渣浆泵电机（粗砂）' OR devName='2#离心式渣浆泵电机（粗砂）'
                            )))
                        </if>
                        <if test="equip=='浮选机'">
                            DEPT_NAME='电仪工段' AND ROUTE_NAME='浮选系统'
                        </if>
                        <if test="equip=='浮选泵'">
                            DEPT_NAME='电仪工段' AND (ROUTE_NAME='浮选柱' OR ROUTE_NAME='浮选底层')
                        </if>
                        <if test="equip=='鼓风机'">
                            DEPT_NAME='电仪工段' AND ROUTE_NAME='鼓风机'
                        </if>
                    </if>
                    <if test="team=='精尾电仪'">
                        <if test="equip=='压滤过滤'">
                            DEPT_NAME='电仪工段' AND (ROUTE_NAME='尾砂泵' OR ROUTE_NAME='压滤、过滤机')
                        </if>
                        <if test="equip=='浓密机'">
                            DEPT_NAME='电仪工段' AND (ROUTE_NAME='浓密机' OR ROUTE_NAME='厂前回水泵')
                        </if>
                        <if test="equip=='空压机'">
                            DEPT_NAME='电仪工段' AND (ROUTE_NAME='空气压缩机组')
                        </if>
                    </if>
                </if>

                AND TASKSTART_TM>="${startTime}"
                AND   "${endTime}" >=TASKSTART_TM

                GROUP BY equipName

        <if test="workshop=='碎矿工段'">
            <if test="team=='碎矿设备'">
                <if test="equip=='4#皮带'">
                    ORDER BY FIELD(equipName,'其它')
                </if>
                <if test="equip=='2#皮带'">
                    ORDER BY FIELD(equipName,'其它')
                </if>
                <if test="equip=='颚破'">
                    ORDER BY FIELD(equipName,'湿式除尘风机','其它')
                </if>
                <if test="equip=='重板'">
                    ORDER BY FIELD(equipName,'1#皮带运输机','其它')
                </if>
                <if test="equip=='石灰制乳输送'">
                    ORDER BY FIELD(equipName,'1#石灰立式料仓','2#石灰立式料仓','1#螺旋给料机','2#螺旋给料机'
                    ,'1#石灰制乳搅拌桶','2#石灰制乳搅拌桶','1#离心式渣浆泵','2#离心式渣浆泵','3#离心式渣浆泵'
                    ,'1#石灰输送搅拌桶','2#石灰输送搅拌桶')
                </if>

            </if>
            <if test="team=='碎矿生产'">
                <if test="equip=='破碎岗'">
                    ORDER BY FIELD(equipName,'重型板式给料机','1#皮带运输机','简摆颚式破碎机','湿式除尘风机')
                </if>
                <if test="equip=='皮带岗'">
                    ORDER BY FIELD(equipName,'2#皮带运输机','4#皮带运输机','1#中间矿堆','2#中间矿堆')
                </if>
                <if test="equip=='石灰乳化岗'">
                    ORDER BY FIELD(equipName,'1#石灰立式料仓','2#石灰立式料仓','1#螺旋给料机','2#螺旋给料机'
                    ,'石灰制乳系统1','石灰制乳系统2','1#石灰制乳搅拌桶','2#石灰制乳搅拌桶','石灰溜槽'
                    ,'1#离心式渣浆泵','2#离心式渣浆泵','3#离心式渣浆泵','1#石灰输送搅拌桶','2#石灰输送搅拌桶')
                </if>
            </if>
        </if>
        <if test="workshop=='磨浮工段'">
            <if test="team=='磨浮设备'">
                <if test="equip=='球磨机'">
                    ORDER BY
                    FIELD(equipName,'球磨机结构','球磨机气动离合器','球磨机干油润滑站'
                    ,'球磨机传动齿轮','球磨机传动部电机','球磨机慢速驱动装置','MQY4870高低压稀油润滑系统','FX660-GT旋流器（A组）','FX660-GT旋流器（B组）')
                </if>
                <if test="equip=='再磨机'">
                    ORDER BY
                    FIELD(equipName,'再磨机结构','再磨机气动离合器','再磨机干油润滑站'
                    ,'再磨机传动齿轮','再磨机传动部电机','再磨机慢速驱动装置','MQY2745高低压稀油润滑系统','FX350-GT旋流器')
                </if>
                <if test="equip=='半自磨机'">
                    ORDER BY
                    FIELD(equipName,'半自磨机结构','半自磨机气动离合器','半自磨机干油润滑站'
                    ,'半自磨机传动齿轮','半自磨机传动部电机','半自磨机慢速驱动装置','MZS6433高压稀油润滑系统'
                    ,'MZS6433低压稀油润滑系统','1#离心式渣浆泵（粗砂）','2#离心式渣浆泵（粗砂）')
                </if>
                <if test="equip=='鼓风机'">
                    ORDER BY FIELD(equipName,'1#离心式鼓风机','2#离心式鼓风机','3#离心式鼓风机','1#离心式鼓风机稀油站','2#离心式鼓风机稀油站','3#离心式鼓风机稀油站'
                    ,'铜精一浮选柱','铜精二浮选柱','1#铜精选一给矿泵','2#铜精选一给矿泵','1#铜精选二给矿泵','2#铜精选二给矿泵')
                </if>
                <if test="equip=='浮选机'">
                    ORDER BY
                    FIELD(equipName,'再磨4m搅拌桶','原矿4.5m搅拌桶','脱泥旋流器','1#选硫搅拌桶','2#选硫搅拌桶','1#脱泥泵','2#脱泥泵'),CAST(TRIM('#' FROM devName) AS SIGNED)
                </if>
                <if test="equip=='中板皮带'">
                    ORDER BY
                    FIELD(equipName,'5#皮带运输机','1#中重型板式给矿机','2#中重型板式给矿机','1#石灰泵','2#石灰泵','石灰搅拌桶')
                </if>
                <if test="equip=='浮选泵'">
                    ORDER BY
                    FIELD(equipName,'1#扫Ⅰ泡沫泵','2#扫Ⅰ泡沫泵','1#扫Ⅱ泡沫泵','2#扫Ⅱ泡沫泵','1#硫粗选泡沫泵','2#硫粗选泡沫泵'
                    ,'1#硫粗选给矿泵','2#硫粗选给矿泵','1#硫精一泡沫泵','2#硫精一泡沫泵','1#精扫一精矿泵','2#精扫一精矿泵'
                    ,'1#精扫二尾矿泵','2#精扫二尾矿泵','1#铜精选一给矿泵','2#铜精选一给矿泵','1#铜精选二给矿泵','2#铜精选二给矿泵'
                    ,'1#事故泵','2#事故泵','3#事故泵')
                </if>
            </if>
            <if test="team=='磨浮生产'">
                <if test="equip=='浮选岗'">
                    ORDER BY
                    FIELD(devName,'再磨4m搅拌桶','原矿4.5m搅拌桶','脱泥旋流器','1#选硫搅拌桶','2#选硫搅拌桶','1#脱泥泵','2#脱泥泵'
                    ,'1#离心式渣浆泵（再磨砂）','2#离心式渣浆泵（再磨砂）'
                    ,'1#离心式鼓风机','2#离心式鼓风机','3#离心式鼓风机','1#离心式鼓风机稀油站','2#离心式鼓风机稀油站','3#离心式鼓风机稀油站'
                    ,'铜精一浮选柱','铜精二浮选柱','1#铜精选一给矿泵','2#铜精选一给矿泵','1#铜精选二给矿泵','2#铜精选二给矿泵'
                    ,'1#扫Ⅰ泡沫泵','2#扫Ⅰ泡沫泵','1#扫Ⅱ泡沫泵','2#扫Ⅱ泡沫泵','1#硫粗选泡沫泵','2#硫粗选泡沫泵'
                    ,'1#硫粗选给矿泵','2#硫粗选给矿泵','1#硫精一泡沫泵','2#硫精一泡沫泵','1#精扫一精矿泵','2#精扫一精矿泵'
                    ,'1#精扫二尾矿泵','2#精扫二尾矿泵','1#铜精选一给矿泵','2#铜精选一给矿泵','1#铜精选二给矿泵','2#铜精选二给矿泵'
                    ,'1#事故泵','2#事故泵'),CAST(TRIM('#' FROM devName) AS SIGNED)
                </if>
                <if test="equip=='磨矿岗'">
                    ORDER BY
                    FIELD(devName,'MQY2745再磨机','MQY4870球磨机','MZS6433半自磨机','MQY2745高低压稀油润滑系统','MQY4870高低压稀油润滑系统'
                    ,'MZS6433低压稀油润滑系统','MZS6433高压稀油润滑系统' ,'1#离心式渣浆泵（粗砂）','2#离心式渣浆泵（粗砂）'
                    ,'FX350-GT旋流器','FX660-GT旋流器（A组）','FX660-GT旋流器（B组）','球磨机结构')
                </if>
                <if test="equip=='皮带岗'">
                    ORDER BY
                    FIELD(devName,'5#皮带运输机','1#中重型板式给矿机','2#中重型板式给矿机','1#石灰泵','2#石灰泵'
                    ,'石灰搅拌桶','石灰分配器' ,'石灰溜槽')
                </if>
            </if>
        </if>
        <if test="workshop=='精尾工段'">
            <if test="team=='精尾设备'">
                <if test="equip=='压滤机'">
                    ORDER BY
                    FIELD(equipName,'1#高效节能快速压滤机','2#程控隔膜压滤机','3#APN型压滤机','1#铜回流渣浆泵','2#铜回流渣浆泵','1#隔膜泵（进浆）','2#隔膜泵（进浆）'
                    ,'1#离心式渣浆泵（进浆）','2#离心式渣浆泵（进浆）','3米搅拌桶','铜液下泵')
                </if>
                <if test="equip=='过滤机'">
                    ORDER BY FIELD(devName,'1#TT-80陶瓷过滤机','2#TT-80陶瓷过滤机','1#水环真空泵','2#水环真空泵','1#硫回流渣浆泵','2#硫回流渣浆泵'
                    ,'1#循环水泵（化工离心泵）','2#循环水泵（化工离心泵）','3#循环水泵（化工离心泵）','4#循环水泵（化工离心泵）','硫液下泵')
                </if>
                <if test="equip=='浓密机'">
                    ORDER BY FIELD(devName,'NJG型周边传动浓缩机（铜浓密）','NJG型周边传动浓缩机（硫浓密）','NXZ型中心传动高效浓缩机'
                    ,'NJG型周边传动浓缩机（事故浓密）','1#离心式渣浆泵（底流）','2#离心式渣浆泵（底流）')
                </if>
                <if test="equip=='厂前回水泵'">
                    ORDER BY devName
                </if>
                <if test="equip=='空压机'">
                    ORDER BY devName
                </if>
                <if test="equip=='尾砂泵'">
                    ORDER BY devName
                </if>
            </if>
            <if test="team=='精尾生产'">
                <if test="equip=='回水岗'">
                    ORDER BY
                    FIELD(devName,'NJG型周边传动浓缩机（铜浓密）','NJG型周边传动浓缩机（硫浓密）'
                    ,'NXZ型中心传动高效浓缩机','NXZ型中心传动高效浓缩机','1#卧式中开双吸泵'
                    ,'2#卧式中开双吸泵','3#卧式中开双吸泵' ,'二厂回水管','45米硫溢流水')
                </if>
                <if test="equip=='压滤机岗'">
                    FIELD(devName,'1#高效节能快速压滤机','3#APN型压滤机','3米搅拌桶','1#离心式渣浆泵（进浆）','2#离心式渣浆泵（进浆）'
                    ,'1#铜回流渣浆泵','2#铜回流渣浆泵','1#隔膜泵（进浆）','2#隔膜泵（进浆）','铜液下泵','30米铜硐室','7#储气罐','8#储气罐')
                </if>
                <if test="equip=='过滤机岗'">
                    FIELD(devName,'1#TT-80陶瓷过滤机','2#TT-80陶瓷过滤机','1#硫回流渣浆泵','2#硫回流渣浆泵','硫液下泵'
                    ,'45米硫硐室','槽体')
                </if>
                <if test="equip=='中心气站岗'">
                    ORDER BY
                    FIELD(devName,'1#螺杆式空气压缩机','2#螺杆式空气压缩机','3#螺杆式空气压缩机','4#螺杆式空气压缩机','5#螺杆式空气压缩机','1#储气罐'
                    ,'2#储气罐','3#储气罐','4#储气罐','5#储气罐','6#储气罐')
                </if>
                <if test="equip=='尾砂泵岗'">
                    ORDER BY devName
                </if>
            </if>
        </if>
        <if test="workshop=='电仪工段'">
            <if test="team=='碎矿电仪'">
                <if test="equip=='重板颚破'">
                    ORDER BY devName
                </if>
                <if test="equip=='2#4#皮带'">
                    ORDER BY devName
                </if>
                <if test="equip=='石灰输送'">
                    ORDER BY FIELD(devName,'1#石灰制乳搅拌桶电机','2#石灰制乳搅拌桶电机','1#石灰输送搅拌桶电机','2#石灰输送搅拌桶电机'
                    ,'1#石灰送浆泵电机','2#石灰送浆泵电机','3#石灰送浆泵电机')
                </if>
            </if>
            <if test="team=='磨浮电仪'">
                <if test="equip=='皮带中板'">
                    ORDER BY FIELD(devName,'5#皮带运输机电机','1#中重型板式给矿机电机','2#中重型板式给矿机电机')
                </if>
                <if test="equip=='3M石灰'">
                    ORDER BY FIELD(devName,'1#石灰搅拌桶加压电机' ,'2#石灰搅拌桶加压电机','3米石灰搅拌桶电机')
                </if>
                <if test="equip=='再磨机'">
                    ORDER BY devName
                </if>
                <if test="equip=='球磨机'">
                    ORDER BY devName
                </if>
                <if test="equip=='半自磨机'">
                    ORDER BY  FIELD(devName,'MZS6433半自磨机电机','MZS6433半自磨机高压稀油站电机','MZS6433半自磨机低压稀油站电机'
                    ,'1#离心式渣浆泵电机（粗砂）','2#离心式渣浆泵电机（粗砂）')
                </if>
                <if test="equip=='浮选机'">
                    ORDER BY  FIELD(devName,'原矿4.5m搅拌桶电机','二厂浮选电机1#','二厂浮选电机2#','二厂浮选电机3#'
                    ,'二厂浮选电机4#','二厂浮选电机5#','二厂浮选电机6#','二厂浮选电机7#','二厂浮选电机8#','二厂浮选电机9#'
                    ,'再磨4m搅拌桶电机','二厂浮选电机10#','二厂浮选电机11#','二厂浮选电机12#','二厂浮选电机13#'
                    ,'二厂浮选电机14#','二厂浮选电机15#','1#选硫搅拌桶电机','2#选硫搅拌桶电机'
                    ,'二厂浮选电机16#','二厂浮选电机17#','二厂浮选电机18#','二厂浮选电机19#','二厂浮选电机20#'
                    ,'二厂浮选电机21#','二厂浮选电机22#','二厂浮选电机23#','二厂浮选电机24#','二厂浮选电机25#','二厂浮选电机26#'
                    ,'二厂浮选电机27#','二厂浮选电机28#','二厂浮选电机29#','二厂浮选电机30#'
                    ,'二厂浮选电机31#','二厂浮选电机32#','二厂浮选电机33#','二厂浮选电机34#','二厂浮选电机35#','二厂浮选电机36#'
                    ,'二厂浮选电机37#','二厂浮选电机38#','二厂浮选电机39#','二厂浮选电机40#','二厂浮选电机41#'
                    )
                </if>
                <if test="equip=='浮选泵'">
                    ORDER BY FIELD(devName,'1#铜精选一给矿泵电机','2#铜精选一给矿泵电机','1#铜精选二给矿泵电机','2#铜精选二给矿泵电机',
                    '1#离心式渣浆泵电机（再磨砂）','2#离心式渣浆泵电机（再磨砂）','1#精扫一精矿泵','2#精扫一精矿泵','1#精扫二尾矿泵','2#精扫二尾矿泵'
                    ,'1#硫粗选泡沫泵电机','2#硫粗选泡沫泵电机','1#硫精一泡沫泵电机','2#硫精一泡沫泵电机','1#硫粗选给矿泵电机','2#硫粗选给矿泵电机'
                    ,'1#脱泥泵电机','2#脱泥泵电机','1#扫Ⅰ泡沫泵电机','2#扫Ⅰ泡沫泵电机','1#扫Ⅱ泡沫泵电机','2#扫Ⅱ泡沫泵电机' )
                </if>
            </if>
            <if test="team=='精尾电仪'">
                <if test="equip=='压滤过滤'">
                    ORDER BY
                    FIELD(devName,'1号过滤主轴电机','1号过滤搅拌电机','2号过滤主轴电机','2号过滤搅拌电机','1号过滤机1号水循环泵电机','1号过滤机2号水循环泵电机'
                    ,'2号过滤机1号水循环泵电机','2号过滤机2号水循环泵电机','1#硫回矿泵池电机','2#硫回矿泵池电机'
                    ,'3号压滤电机','压滤3m搅拌桶电机','1#铜精矿上浆泵电机','2#铜精矿上浆泵电机'
                    ,'1#铜回矿泵池电机','2#铜回矿泵池电机','1号尾砂泵电机','2号尾砂泵电机','3号尾砂泵电机')
                </if>
                <if test="equip=='浓密机'">
                    ORDER BY
                    FIELD(equipName,'铜30m浓密油泵电机1号（行走）','铜30m浓密油泵电机2号（提耙）','硫45m浓密油泵电机1号（行走）'
                    ,'硫45m浓密油泵电机2号（提耙）','尾矿45m浓密池油泵电机1号（行走）','尾矿45m浓密池油泵电机2号（提耙）'
                    ,'18m浓密池油泵（行走）','18m浓密池油泵（提耙）','1#离心式渣浆泵电机（18m底流）','2#离心式渣浆泵电机（18m底流）'
                    ,'新回水泵电机1号电机','新回水泵电机2号电机','新回水泵电机3号电机')
                </if>
                <if test="equip=='空压机'">
                    ORDER BY devName
                </if>

            </if>
        </if>

    </select>


</mapper>