<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.interlocking.ChangeTemplateMapper">
    <update id="changeTemplate_changeType">
        UPDATE dxj_alarmtype_temp SET abnormalHandleAdminType=${abnormalHandleAdminType} WHERE id=${id}
    </update>
    <delete id="changeTemplate_deleteData">
        DELETE FROM dxj_alarmtype_temp WHERE id=${id}
    </delete>
    <select id="ChangeTemplate_get_deptName" resultType="com.demo.model.interlocking.Interlocking">
          SELECT deptName FROM dxj_alarmtype_temp GROUP BY deptName
    </select>

    <select id="ChangeTemplate_get_routeName" resultType="com.demo.model.interlocking.Interlocking">
          SELECT deptName,routeName FROM dxj_alarmtype_temp GROUP BY deptName,routeName
    </select>
    <select id="ChangeTemplate_get_zoneName" resultType="com.demo.model.interlocking.Interlocking">
        SELECT deptName,routeName,zoneName FROM dxj_alarmtype_temp GROUP BY deptName,routeName,zoneName
    </select>
    <select id="ChangeTemplate_get_devName" resultType="com.demo.model.interlocking.Interlocking">
          SELECT deptName,routeName,zoneName,devName FROM dxj_alarmtype_temp GROUP BY deptName,routeName,zoneName,devName
    </select>
    <select id="ChangeTemplate_get_scPart" resultType="com.demo.model.interlocking.Interlocking">
         SELECT deptName,routeName,zoneName,devName,scPart FROM dxj_alarmtype_temp GROUP BY deptName,routeName,zoneName,devName,scPart
    </select>
    <select id="ChangeTemplate_get_content" resultType="com.demo.model.interlocking.Interlocking">
         SELECT deptName,routeName,zoneName,devName,scPart,scContent FROM dxj_alarmtype_temp GROUP BY deptName,routeName,zoneName,devName,scPart,scContent
    </select>
    <select id="changeTemplate_get_result" resultType="com.demo.model.interlocking.Interlocking">
        SELECT
          deptName, routeName , zoneName ,devName,scPart, scContent,id as 'resultId',abnormalHandleType,abnormalHandleAdminType
        FROM dxj_alarmtype_temp
        WHERE
            1=1
        <if test="deptName != 'test' and deptName != ''">
            and  deptName="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
            and routeName="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            and zoneName="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
            and devName="${devName}"
        </if>
        <if test="scPart != 'test' and scPart != ''">
            and scPart="${scPart}"
        </if>
        <if test="scContent != 'test' and scContent != '' ">
            and scContent ="${scContent}"
        </if>
    </select>
</mapper>