<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.interlocking.InterlockingMapper">
    <insert id="Interlocking_insert_temp_result">
        INSERT INTO dxj_alarmtype_temp(deptName,routeName,zoneName,devName,scPart,scContent,altpid,abnormalHandleAdminType,dealUser,abnormalHandleDealDepart)
        VALUES ("${deptName}" ,"${routeName}","${zoneName}","${devName}","${scPart}","${scContent}","${altpid}","${alarmType}","${dealPersonLiable}","${selectDepart}")
    </insert>
    <insert id="writeDealData">
        INSERT INTO dxj_spot_deal(
             result_id, service_id, dev_code, service_start_date,service_end_date,
             service_hours, dev_name, dev_model, dev_dept, dev_category, service_unit_type,
             service_unit, alarm_type, alarm_name, alarm_time, alarm_content,
             service_name, service_acceptor, service_content, service_alarm_time, service_remarks)
        VALUES ("${result_id}" ,"${service_id}","${dev_code}","${service_start_date}","${service_end_date}",
            "${service_hours}","${dev_name}","${dev_model}","${dev_dept}","${dev_category}","${service_unit_type}",
            "${service_unit}","${alarm_type}","${alarm_name}","${alarm_time}","${alarm_content}",
            "${service_name}","${service_acceptor}","${service_content}","${service_alarm_time}","${service_remarks}"
        )
    </insert>
    <insert id="insertBCAlarmDataToAlarmResult">
          INSERT  INTO dxj_spot_alarm_result(
              resultId,deptName,routeName,zoneName,devName,scPart,scContent,remark,result,userName,
              uploadResultTime,abnormalHandleDealDepart,abnormalHandleAdminType,alarm_personLiable
          )
          values ("${resultId}","${deptName}","${routeName}","${zoneName}","${devName}","${scPart}","${scContent}","${remark}","${spotResult}","${userName1}"
          ,"${uploadResultTime}","${selectDepart}","${alarmType}","${user}")
    </insert>
    <insert id="insertBCAlarmDataToAlarmResult1">
             INSERT  INTO dxj_spot_alarm_result(
              resultId,deptName,routeName,zoneName,devName,scPart,scContent,remark,result,userName,
              uploadResultTime,abnormalHandleDealDepart,abnormalHandleAdminType,alarm_personLiable,pid,alarm_merge
          )
          values ("${resultId}","${deptName}","${routeName}","${zoneName}","${devName}","${scPart}","${scContent}","${remark}","${spotResult}","${userName1}"
          ,"${uploadResultTime}","${selectDepart}","${alarmType}","${user}","${pid}","Y")
    </insert>
    <update id="addAlarmToMonthlyList">
        UPDATE dxj_spot_alarm_result SET monthly_alarm_list='Y' WHERE id in ${mergeIds}
    </update>

    <update id="Interlocking_changeAlarmType">
         UPDATE dxj_spot_result SET abnormalHandleAdminType ="${alarmType}",abnormalHandleUser ="${operationName}" ,
         abnormalHandleDealDepart="${selectDepart}",alarm_personLiable="${responsibleUser}"
         WHERE ID ="${resultId}"
    </update>
    <update id="Interlocking_update_temp_result">
        UPDATE  dxj_alarmtype_temp
        SET abnormalHandleAdminType ="${alarmType}",dealUser ="${dealPersonLiable}" ,abnormalHandleDealDepart="${selectDepart}"
        WHERE deptName="${deptName}"  and  routeName="${routeName}" AND  zoneName="${zoneName}"
            AND   devName="${devName}" AND scPart="${scPart}" AND scContent="${scContent}"
           AND altpid="${altpid}"
    </update>
    <update id="Interlocking_changeAlarmPersonLiable">
              UPDATE dxj_spot_result SET  alarm_personLiable="${alarm_personLiable}"  WHERE ID ="${resultId}"
    </update>
    <update id="Interlocking_update_alarm_result">
         UPDATE  dxj_spot_alarm
         SET   alarm_manager ="${alarm_manage}",alarm_type="${alarm_type}"
         WHERE DEPT_NAME="${deptName}"  and  ROUTE_NAME="${routeName}" AND  ZONE_NAME="${zoneName}"
            AND   devName="${devName}" AND SC_PART="${scPart}" AND SC_CONTENT="${scContent}"
    </update>
    <update id="Interlocking_update_alarm_liable">
              UPDATE  dxj_spot_result
         SET   alarm_personLiable ="${liable}"
         WHERE ID="${resultId}"
    </update>
    <update id="updateDealData">
              UPDATE  dxj_spot_deal
             SET   result_id="${result_id}" ,service_id="${service_id}",service_start_date="${service_start_date}",service_end_date="${service_end_date}",
                    service_hours="${service_hours}",service_unit_type="${service_unit_type}",service_unit="${service_unit}",service_name="${service_name}",
                    service_acceptor="${service_acceptor}",service_content="${service_content}",service_alarm_time="${service_alarm_time}",service_remarks="${service_remarks}"
             WHERE result_id="${result_id}"
    </update>
    <update id="updateResultDealData">
            UPDATE dxj_spot_result
             SET  alarm_flag="${alarm_flag}",

                alarm_remark="${alarm_remark}",

                alarm_manage_name="${alarm_manage_name}",

                alarm_manage_time="${alarm_manage_time}"
             WHERE ID="${result_id}"
    </update>
    <update id="changeBCAlarmTypeAlarm">
             UPDATE dxj_spot_alarm_result
             SET  abnormalHandleAdminType="${alarmType}",alarm_personLiable="${personLiable}" ,abnormalHandleDealDepart="${deptName}"
             <if test="alarmType==3">
                 ,monthly_alarm_list="N"
             </if>
             WHERE id in ${alarmIds}
    </update>
    <update id="changeBCAlarmTypeResult">
            UPDATE dxj_spot_result
            SET  abnormalHandleAdminType="${alarmType}",alarm_personLiable="${personLiable}" ,abnormalHandleDealDepart="${deptName}"
            WHERE     "${resultIds}" LIKE CONCAT("%",ID,"%")
    </update>
    <update id="updateAlarmData">
            UPDATE dxj_spot_alarm_result
            SET alarm_times=${deleteAlarmNum}+alarm_times
            WHERE ID = "${alarmId}"

    </update>
    <update id="updateDeleteAlarmData">
            UPDATE dxj_spot_alarm_result
            SET alarm_type='0' ,alarm_myself_id="${alarmId}"
            WHERE ID in ${mergeIds}
    </update>

    <update id="updateResultDealDataByDetailed">
          UPDATE dxj_spot_alarm
            SET alarm_flag='Y' ,alarm_manage_time=now() ,alarm_manage_name="${user}"
            WHERE DEPT_NAME="${deptName}"  AND ROUTE_NAME="${routeName}"  AND ZONE_NAME="${zoneName}"  AND  devName="${devName}"
             AND SC_PART="${scPart}"  AND SC_CONTENT="${scContent}"  AND uploadResultTime>="${uploadResultTime}" and  ALTPID>0
    </update>
    <update id="updateResultChangeAlarmTypeByDetailed">
              UPDATE dxj_spot_alarm
            SET abnormalHandleDealDepart="${departs}",alarm_personLiable="${user}",abnormalHandleAdminType="${alarmType}"
            WHERE DEPT_NAME="${deptName}"  AND ROUTE_NAME="${routeName}"  AND ZONE_NAME="${zoneName}"  AND  devName="${devName}"
             AND SC_PART="${scPart}"  AND SC_CONTENT="${scContent}"  AND uploadResultTime>="${uploadResultTime}" and  ALTPID>0

    </update>
    <update id="dealBCAlarmInResult">
        UPDATE  dxj_spot_result  SET alarm_flag='Y',alarm_remark="${dealRemark}",alarm_manage_time=NOW(),alarm_manage_name="${user}"  WHERE "${resultIds}" =ID

--             UPDATE  dxj_spot_result  SET alarm_flag='Y',alarm_remark="${dealRemark}",alarm_manage_time=NOW(),alarm_manage_name="${user}"  WHERE "${resultIds}" LIKE CONCAT("%",ID,"%")
    </update>
    <update id="mergeBCAlarmData">
        UPDATE  dxj_spot_alarm_result
        SET   alarm_times=alarm_times+${times},resultId="${resultIds}",uploadResultTime="${startTime}",uploadResultTimeEnd="${endTime}"

      WHERE
	    ID = "${alarmId}"
    </update>
    <update id="setConfigData">
        update dxj_config
        set
            alarm_list_start="${alarm_list_start}",alarm_list_end="${alarm_list_end}"
            ,alarm_c_deal_start="${alarm_c_deal_start}",alarm_c_deal_end="${alarm_c_deal_end}"
            ,alarm_tips_time="${alarm_tips_time}"

    </update>

    <delete id="dealBCAlarm">
--         UPDATE   dxj_spot_alarm_result
--         SET alarm_flag='Y',monthly_alarm_list='N',alarm_deal_delay='N',alarm_deal_delay_remark="" ,
--         alarm_remark="${dealRemark}",alarm_manage_time=NOW(),alarm_manage_name="${user}"
-- 		WHERE

        DELETE FROM dxj_spot_alarm_result WHERE   ID IN ${alarmId}

    </delete>


    <update id="delayBCAlarm">
         UPDATE   dxj_spot_alarm_result
        SET  alarm_deal_delay='Y',alarm_deal_delay_remark="${dealRemark}"
		WHERE
	        id IN ${alarmIds}

    </update>
    <update id="updateAlarmResultTimes">
        UPDATE dxj_spot_alarm_result
        SET alarm_times=${alarmTimes}+1,   alarm_personLiable="${user}",abnormalHandleDealDepart="${depart}",abnormalHandleAdminType= "${alarmType}",
            uploadResultTime="${startDate}"  ,  uploadResultTimeEnd="${endDate}",resultId="${resultIds}"
        WHERE id="${alarmId}"

    </update>
    <delete id="delete_alarm_result_by_alarmId">
        DELETE FROM dxj_spot_alarm_result WHERE  id="${alarmId}"
    </delete>
    <select id="Interlocking_get_deptName" resultType="com.demo.model.interlocking.Interlocking">
            SELECT deptName from dxj_spot_rout_zone_devname
            GROUP BY deptName

    </select>
    <select id="Interlocking_get_routeName" resultType="com.demo.model.interlocking.Interlocking">
             SELECT deptName,routeName from dxj_spot_rout_zone_devname
                  GROUP BY deptName,routeName
    </select>
    <select id="Interlocking_get_zoneName" resultType="com.demo.model.interlocking.Interlocking">
        SELECT deptName,routeName ,zoneName from dxj_spot_rout_zone_devname
          GROUP BY deptName,routeName ,zoneName
    </select>
    <select id="Interlocking_get_devName" resultType="com.demo.model.interlocking.Interlocking">
                SELECT deptName,routeName,zoneName,devName from dxj_spot_rout_zone_devname
            GROUP BY deptName,routeName,zoneName,devName
    </select>
    <select id="Interlocking_get_scPart" resultType="com.demo.model.interlocking.Interlocking">
        SELECT  DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart from dxj_spot_result
        GROUP BY DEPT_NAME,ROUTE_NAME,ZONE_NAME,devName,SC_PART
    </select>
    <select id="Interlocking_get_content" resultType="com.demo.model.interlocking.Interlocking">

        SELECT  DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,SC_CONTENT as scContent

      from dxj_spot_result

      GROUP BY DEPT_NAME,ROUTE_NAME,ZONE_NAME,devName,SC_PART,SC_CONTENT
    </select>
    <select id="Interlocking_get_result" resultType="com.demo.model.interlocking.Interlocking">

        SELECT
        DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,
        DATE_FORMAT(uploadResultTime, '%Y-%m-%d %T') as uploadResultTime,
        DATE_FORMAT(TASKEND_TM, '%Y-%m-%d %T') as taskEndTime,
        DATE_FORMAT(TASKSTART_TM, '%Y-%m-%d %T') as taskStartTime,
        SC_CONTENT as scContent,
        RESULT as result,
        USERNAME as userName,
        SHIFTGROUPNAME as team,
        CHARGE_CNAME as personLiable,
        std_value as stdValue,
        ALTPID as altpid,
        REMARK as remark,
        alarm_manage_name as dealUser,
        alarm_remark as deal_remark,
        alarm_flag as alarmFlag,
        ID as resultId,
        alarm_personLiable as dealPerson,
        abnormalHandleType,
        abnormalHandleUser,
        abnormalHandleAdminType,
        abnormalHandleDealDepart
        FROM dxj_spot_result
        WHERE
        <if test="startTime != ''">
            TASKSTART_TM>= "${startTime}"
        </if>
        <if test="endTime != ''">
            AND  TASKSTART_TM &lt; "${endTime}"
        </if>
        <if test="deptName != 'test' and deptName != ''">
            and  DEPT_NAME="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
            and ROUTE_NAME="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            and ZONE_NAME="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
            and devName="${devName}"
        </if>
        <if test="scPart != 'test' and scPart != ''">
            and SC_PART="${scPart}"
        </if>
        <if test="scContent != 'test' and scContent != '' ">
            and SC_CONTENT ="${scContent}"
        </if>
        <if test="dealStatus=='handled'">
            and alarm_flag="Y"
        </if>
        <if test="dealStatus=='unhandled'">
            and alarm_flag="N"
        </if>
        <!--<if test="RDStatus=='yes'">-->
            <!--and abnormalHandleDealDepart is not null-->
        <!--</if>-->
        and   DEPT_NAME !='综合工段'
        and(
                 1=2
            <if test="zcCheck=='true'">
                or ( abnormalHandleType =0 and  ALTPID=0)
            </if>
            <if test="wjCheck=='true'">
                or ALTPID is  null
            </if>
            <if test="bjCheck=='true'">
                or ( abnormalHandleType>0)
            </if>
            <!--<if test="bjType1=='true'">-->
                <!--or abnormalHandleAdminType =1-->
                <!--or ( ALTPID>0-->
                <!--and abnormalHandleAdminType is null )-->
            <!--</if>-->
            <!--<if test="bjType2=='true'">-->
                <!--or  abnormalHandleAdminType =2-->
                <!--or ( ALTPID>0-->
                <!--and abnormalHandleAdminType is null )-->
            <!--</if>-->
            <!--<if test="bjType3=='true'">-->
                <!--or  abnormalHandleAdminType =3-->
                <!--or ( ALTPID>0-->
                <!--and abnormalHandleAdminType is null )-->
            <!--</if>-->
-- 报警查询，eg：选择A类时，显示管理人员A类及点检员A类
        <if test="bjType1=='true'">
            or abnormalHandleAdminType =1
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  1 )
        </if>
        <if test="bjType2=='true'">
            or  abnormalHandleAdminType =2
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  2 )
        </if>
        <if test="bjType3=='true'">
            or  abnormalHandleAdminType =3
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  3 )
        </if>
        )
--         ORDER BY abnormalHandleAdminType DESC
--         ORDER BY abnormalHandleAdminType is null , abnormalHandleAdminType
--         ORDER BY IF ( (abnormalHandleType is NULL OR abnormalHandleType=0),1,0),IF ( (abnormalHandleAdminType is NULL),0,1) ,abnormalHandleAdminType

        ORDER BY IF ( (abnormalHandleType is NULL OR abnormalHandleType=0),1,0),IF ( (abnormalHandleAdminType is NULL ),0,1)
        ,IF ( (alarm_flag ='N' ),0,1),abnormalHandleAdminType
        LIMIT ${startPage},${numPerPage}

    </select>
    <select id="Interlocking_get_result1_total" resultType="java.lang.Integer">
        SELECT
     count(1) as totalNum
        from
        dxj_spot_result

        WHERE

        <if test="startTime != ''">
            TASKSTART_TM>= "${startTime}"
        </if>
        <if test="endTime != ''">
            AND  TASKSTART_TM &lt; "${endTime}"
        </if>
        <if test="deptName != 'test' and deptName != ''">
            and  DEPT_NAME="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
            and ROUTE_NAME="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            and ZONE_NAME="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
            and devName="${devName}"
        </if>
        <if test="scPart != 'test' and scPart != ''">
            and SC_PART="${scPart}"
        </if>
        <if test="scContent != 'test' and scContent != '' ">
            and SC_CONTENT ="${scContent}"
        </if>
        <if test="dealStatus=='handled'">
            and alarm_flag="Y"
        </if>
        <if test="dealStatus=='unhandled'">
            and alarm_flag="N"
        </if>
       and DEPT_NAME !='综合工段'
        and(
              1=2
        <!--<if test="zcCheck=='true'">-->
            <!--or  ALTPID =0-->
        <!--</if>-->
        <!--<if test="wjCheck=='true'">-->
            <!--or ALTPID is  null-->
        <!--</if>-->
        <if test="zcCheck=='true'">
            or ( abnormalHandleType =0 and  ALTPID=0)
        </if>
        <if test="wjCheck=='true'">
            or ALTPID is  null
        </if>
        <if test="bjCheck=='true'">
            or ( abnormalHandleType>0)
        </if>
        <!--<if test="RDStatus=='yes'">-->
          <!--and  abnormalHandleDealDepart is not null-->
        <!--</if>-->
        <!--<if test="bjCheck=='true'">-->
            <!--or ALTPID>0-->
        <!--</if>-->
        <!--<if test="bjType1=='true'">-->
            <!--or abnormalHandleAdminType =1-->
            <!--or ( ALTPID>0-->
            <!--and abnormalHandleAdminType is null )-->
        <!--</if>-->
        <!--<if test="bjType2=='true'">-->
            <!--or  abnormalHandleAdminType =2-->
            <!--or ( ALTPID>0-->
            <!--and abnormalHandleAdminType is null )-->
        <!--</if>-->
        <!--<if test="bjType3=='true'">-->
            <!--or  abnormalHandleAdminType =3-->
            <!--or ( ALTPID>0-->
            <!--and abnormalHandleAdminType is null )-->
        <!--</if>-->
-- 报警查询，eg：选择A类时，显示管理人员A类及点检员A类
        <if test="bjType1=='true'">
            or abnormalHandleAdminType =1
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  1 )
        </if>
        <if test="bjType2=='true'">
            or  abnormalHandleAdminType =2
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  2 )
        </if>
        <if test="bjType3=='true'">
            or  abnormalHandleAdminType =3
            or ( abnormalHandleAdminType is null
            and abnormalHandleType =  3 )
        </if>
        )

    </select>
    <select id="Interlocking_get_byId_result" resultType="com.demo.model.interlocking.Interlocking">
          SELECT
                   ID as resultId,
                DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,SC_CONTENT as scContent,
                std_value as stdValue, ALTPID as altpid,abnormalHandleDealDepart,abnormalHandleAdminType,  SHIFTGROUPNAME as team,uploadResultTime
                ,REMARK remark ,RESULT as result ,USERNAME userName
           FROM dxj_spot_result WHERE ID="${resultId}"


    </select>
    <select id="Interlocking_get_temp_result" resultType="com.demo.model.interlocking.Interlocking">
          SELECT * FROM dxj_alarmtype_temp WHERE  deptName="${deptName}"  and  routeName="${routeName}" AND  zoneName="${zoneName}"
            AND   devName="${devName}" AND scPart="${scPart}" AND scContent="${scContent}"
           AND altpid="${altpid}"
    </select>
    <select id="search_config_alarm_liable_all" resultType="com.demo.model.universal.ConfigUser">
        SELECT user,alarmType,department,team FROM dxj_config_liable
    </select>
    <select id="Interlocking_get_all_alarm_byDay" resultType="com.demo.model.interlocking.Interlocking">
        SELECT
            ID as resultId,
            DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,
            DATE_FORMAT(TASKSTART_TM, '%Y-%m-%d %T') as taskStartTime,
            SC_CONTENT as scContent,
            std_value as stdValue,
            ALTPID as altpid,
            abnormalHandleUser,
            abnormalHandleAdminType,
            abnormalHandleDealDepart,
            uploadResultTime
        FROM
            dxj_spot_result
        WHERE
            uploadResultTime >=CONCAT(CURDATE(),' 00:00:00')
            AND CONCAT(CURDATE(),' 23:59:59')>=uploadResultTime
            AND ALTPID>0
            AND abnormalHandleAdminType IS NULL
    </select>
    <select id="Interlocking_get_all_alarmType" resultType="com.demo.model.interlocking.Interlocking">
        SELECT  * FROM dxj_alarmtype_temp
    </select>
    <select id="search_config_userChange_permission" resultType="com.demo.model.interlocking.Interlocking">
        SELECT d.type as permission from cfg_user a,relational_role_user b,relational_role_auth c,user_authorization d
        WHERE a.user_id="${userId}"
        AND a.id=b.userid
        AND b.roleid=c.role_id
        AND c.authorization_id=d.Id
    </select>

    <select id="search_dxj_dept_id" resultType="com.demo.model.interlocking.Interlocking">
        SELECT a.`NAME` as  deptName from dxj_sys_dept a,dxj_sys_user b
        WHERE b.USERNAME="${userId}"
            AND b.BELONG_DEPT=a.ID
    </select>
    <select id="get_alarm_deal_data" resultType="com.demo.model.universal.AlarmDealData">
        SELECT * from dxj_spot_deal where  result_id="${result_id}"
    </select>
    <select id="Interlocking_get_result1_total1" resultType="java.lang.Integer">
        SELECT
        count(1) as totalNum
        from
        dxj_spot_result

        WHERE

        <if test="startTime != ''">
        TASKSTART_TM>= "${startTime}"
        </if>
        <if test="endTime != ''">
        AND  TASKSTART_TM &lt; "${endTime}"
        </if>
        <if test="deptName != 'test' and deptName != ''">
        and  DEPT_NAME="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
        and ROUTE_NAME="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
        and ZONE_NAME="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
        and devName="${devName}"
        </if>
        <if test="scPart != 'test' and scPart != ''">
        and SC_PART="${scPart}"
        </if>
        <if test="scContent != 'test' and scContent != '' ">
        and SC_CONTENT ="${scContent}"
        </if>
        and DEPT_NAME !='综合工段'

        and (1=2
            <if test="yjCheck=='true'">
                or ( ALTPID is not null
                <if test="zcCheck=='true' || bjCheck=='true'">
                    and ( 1=2
                        <if test="zcCheck=='true' ">
                            or ALTPID =0
                        </if>
                        <if test="bjCheck=='true'">
                            or ( ALTPID>0

                                <if test="abjType1=='true' || abjType2=='true' || abjType3=='true' || sbjType1=='true' || sbjType2=='true' || sbjType3=='true'">
                                      and (   1=2
                                            <if test="abjType1=='true'">
                                                or  abnormalHandleAdminType =1
                                            </if>
                                            <if test="abjType2=='true'">
                                                or  abnormalHandleAdminType =2
                                            </if>
                                            <if test="abjType3=='true'">
                                                or  abnormalHandleAdminType =3
                                            </if>
                                            <if test="sbjType1=='true'">
                                                or  abnormalHandleType =  1
                                            </if>
                                            <if test="sbjType2=='true'">
                                                or  abnormalHandleType =  2
                                            </if>
                                            <if test="sbjType3=='true'">
                                                or  abnormalHandleType = 3
                                            </if>
                                     )
                                </if>
                            )
                        </if>
                    )

                </if>
                )
            </if>

            <if test="wjCheck=='true'">
                or ALTPID is  null
            </if>

        )
    </select>
    <select id="Interlocking_get_result1" resultType="com.demo.model.interlocking.Interlocking">

        SELECT
        DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,
        DATE_FORMAT(uploadResultTime, '%Y-%m-%d %T') as uploadResultTime,
        DATE_FORMAT(TASKEND_TM, '%Y-%m-%d %T') as taskEndTime,
        DATE_FORMAT(TASKSTART_TM, '%Y-%m-%d %T') as taskStartTime,
        SC_CONTENT as scContent,
        RESULT as result,
        USERNAME as userName,
        SHIFTGROUPNAME as team,
        CHARGE_CNAME as personLiable,
        std_value as stdValue,
        ALTPID as altpid,
        REMARK as remark,
        alarm_manage_name as dealUser,
        alarm_remark as deal_remark,
        alarm_flag as alarmFlag,
        ID as resultId,
        alarm_personLiable as dealPerson,
        abnormalHandleType,
        abnormalHandleUser,
        abnormalHandleAdminType,
        abnormalHandleDealDepart
        FROM dxj_spot_result
        WHERE
        <if test="startTime != ''">
            TASKSTART_TM>= "${startTime}"
        </if>
        <if test="endTime != ''">
            AND  TASKSTART_TM &lt; "${endTime}"
        </if>
        <if test="deptName != 'test' and deptName != ''">
            and  DEPT_NAME="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
            and ROUTE_NAME="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            and ZONE_NAME="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
            and devName="${devName}"
        </if>
        <if test="scPart != 'test' and scPart != ''">
            and SC_PART="${scPart}"
        </if>
        <if test="scContent != 'test' and scContent != '' ">
            and SC_CONTENT ="${scContent}"
        </if>
        <!--<if test="RDStatus=='yes'">-->
        <!--and abnormalHandleDealDepart is not null-->
        <!--</if>-->
        and   DEPT_NAME !='综合工段'
        and (1=2
            <if test="yjCheck=='true'">
                or ( ALTPID is not null
                <if test="zcCheck=='true' || bjCheck=='true'">
                    and ( 1=2
                        <if test="zcCheck=='true' ">
                            or ALTPID =0
                        </if>
                        <if test="bjCheck=='true'">
                            or ( ALTPID>0

                                <if test="abjType1=='true' || abjType2=='true' || abjType3=='true' || sbjType1=='true' || sbjType2=='true' || sbjType3=='true'">
                                      and (   1=2
                                            <if test="abjType1=='true'">
                                                or  abnormalHandleAdminType = 1
                                            </if>
                                            <if test="abjType2=='true'">
                                                or  abnormalHandleAdminType = 2
                                            </if>
                                            <if test="abjType3=='true'">
                                                or  abnormalHandleAdminType = 3
                                            </if>
                                            <if test="sbjType1=='true'">
                                                or  abnormalHandleType =  1
                                            </if>
                                            <if test="sbjType2=='true'">
                                                or  abnormalHandleType =  2
                                            </if>
                                            <if test="sbjType3=='true'">
                                                or  abnormalHandleType = 3
                                            </if>
                                     )
                                </if>
                            )
                        </if>
                    )

                </if>
                )
            </if>

            <if test="wjCheck=='true'">
                or ALTPID is  null
            </if>

        )
        LIMIT ${startPage},${numPerPage}
    </select>
    <select id="get_repair_data" resultType="com.demo.model.universal.AlarmDealData">
        SELECT *
        FROM dxj_spot_deal
        WHERE service_alarm_time>="${dateStart}"
            AND "${dateEnd}">=service_alarm_time
        <if test="depart!='test'">
            AND dev_dept="${depart}"
            AND dev_category="${technology}"
        </if>
    </select>
    <select id="getWriteDefaultDealData" resultType="com.demo.model.universal.AlarmDealData">

--     SELECT
--             a.ID 'result_id',b.devName 'dev_name',b.model 'dev_model',a.DEPT_NAME 'dev_depart',
--             uploadResultTime 'alarm_time',abnormalHandleAdminType 'alarm_type',CHARGE_CNAME 'alarm_name',
--             a.SC_PART 'dev_part',a.SC_CONTENT 'dev_content',a.RESULT 'dev_result',a.REMARK 'dev_remark'
--     FROM
--             dxj_spot_result a, dxj_spot_equip b
--     WHERE
--             a.ID="${resultID}"
--         AND
--             a.devId=b.devId
        SELECT
			a.ID 'result_id',a.DEPT_NAME 'dev_depart', a.devId,a.devName as 'dev_name',
            a.uploadResultTime 'alarm_time',a.abnormalHandleAdminType 'alarm_type',a.CHARGE_CNAME 'alarm_name',
            a.SC_PART 'dev_part',a.SC_CONTENT 'dev_content',a.RESULT 'dev_result',a.REMARK 'dev_remark',b.model as 'dev_model',b.`code` as 'dev_code'
        FROM
			(SELECT * FROM  dxj_spot_result  WHERE ID="${resultID}") a
        LEFT JOIN
			dxj_spot_equip b
			ON  a.devId=b.devId
    </select>
    <select id="getDeptSameDayDealData" resultType="com.demo.model.universal.AlarmDealData">
        SELECT * from dxj_spot_deal WHERE dev_dept="${dept_name}" AND  to_days(service_alarm_time) = to_days(now());
    </select>
    <select id="getAlarmDealJurisdiction" resultType="com.demo.model.universal.ConfigUser">
        SELECT * FROM dxj_config_liable WHERE department like "${dev_depart}" AND userId="${userid}" AND alarmType="${alarm_type}"
    </select>
    <select id="getbcAlarmData" resultType="com.demo.model.interlocking.Interlocking">
        SELECT
        deptName,routeName,zoneName,devName,scPart,monthly_alarm_list,uploadResultTimeEnd,
        scContent,uploadResultTime,alarm_times ,id as alarmId,abnormalHandleAdminType,pid ,remark,alarm_merge,alarm_deal_delay,alarm_deal_delay_remark,resultId
        FROM
              dxj_spot_alarm_result
        WHERE
        ((
            uploadResultTime>="${start_date}"
            AND "${end_date}">=uploadResultTime
        )
        or (
              uploadResultTimeEnd>="${start_date}"
              AND "${end_date}">=uploadResultTimeEnd
        ))


            AND deptName !="综合工段"

        <if test="deptName!='test'">
                AND deptName="${deptName}"
            </if>
            <if test="alarm_type == 'test'">
                AND (abnormalHandleAdminType="2" or  abnormalHandleAdminType="3")
            </if>
            <if test="alarm_type != 'test'">
                AND abnormalHandleAdminType="${alarm_type}"
            </if>
--             AND monthly_alarm_list='N'  -- 此为取消B类清单中显示的已添加到月度清单的数据，暂时不用
            ORDER BY alarm_merge,deptName,monthly_alarm_list ,uploadResultTime DESC
    </select>
    <select id="getbcAlarmContent" resultType="com.demo.model.interlocking.Interlocking">
--         SELECT
--             DEPT_NAME AS 'deptName',ROUTE_NAME AS  'routeName',ZONE_NAME AS 'zoneName',devName,SC_PART AS 'scPart',
--             SC_CONTENT AS 'scContent',alarm_num,alarm_type AS abnormalHandleAdminType,alarm_start_time as 'uploadResultTime'
--         FROM
--             dxj_spot_alarm
--         WHERE ID in ${alarmId} or  alarm_myself_id in ${alarmId}
   SELECT
            *
        FROM
            dxj_spot_alarm_result
        WHERE id = "${alarmId}"
    </select>
    <select id="mergeBCAlarmNum" resultType="java.lang.Integer">
             SELECT SUM(alarm_times) from dxj_spot_alarm_result WHERE ID in ${mergeIds}
    </select>
    <select id="getPersonLiableByDepart" resultType="com.demo.model.universal.ConfigUser">
        SELECT * FROM dxj_config_liable WHERE alarmType="${alarm_after_Type}" AND    department like "%${departs}%"
    </select>
    <select id="getbcMonthlyAlarmListData" resultType="com.demo.model.interlocking.Interlocking">
        SELECT         deptName,routeName,zoneName,devName,scPart,monthly_alarm_list,
                scContent,uploadResultTime,alarm_times ,id as alarmId,abnormalHandleAdminType,pid ,
                remark,alarm_personLiable as dealPerson,alarm_deal_delay,alarm_deal_delay_remark,resultId,uploadResultTimeEnd,result,std_value as 'stdValue'
         from dxj_spot_alarm_result WHERE
          monthly_alarm_list='Y'
          and alarm_merge='N'
        <if test="deptName!='test'">
         and   deptName="${deptName}"
        </if>
          ORDER BY  deptName,uploadResultTime DESC

    </select>
    <select id="getbcAlarmDataResultId" resultType="com.demo.model.interlocking.Interlocking">

        SELECT  * FROM dxj_spot_alarm_result WHERE ID  in   ${alarmIds} OR  pid in ${alarmIds}

    </select>
    <select id="get_resultId_alarmid" resultType="com.demo.model.interlocking.Interlocking">
        SELECT * from dxj_spot_alarm_result WHERE id = "${alarmId}"
    </select>
    <select id="getConfigData" resultType="com.demo.model.universal.Config">
         select * from dxj_config
    </select>
    <select id="searchAlarmResultDataByInfo" resultType="com.demo.model.interlocking.Interlocking">
       SELECT alarm_times,id as 'alarmId'  from dxj_spot_alarm_result
        WHERE   deptName="${deptName}"
        AND routeName= "${routeName}"
        AND zoneName = "${zoneName}"
        AND devName= "${devName}"
        AND scPart =  "${scPart}"
        AND  scContent =  "${scContent}"
        AND  remark= "${remark}"
        AND abnormalHandleAdminType="${alarmType}"
        AND alarm_merge="N"
    </select>
    <select id="getBCData" resultType="com.demo.model.interlocking.Interlocking">
        SELECT DEPT_NAME as 'deptName' ,uploadResultTime,devName,SC_PART as 'scPart' ,SC_CONTENT as 'scContent',
                abnormalHandleAdminType,alarm_flag as 'alarmFlag',REMARK as 'remark'
        FROM dxj_spot_result
        WHERE TASKSTART_TM>="${start}"
         AND  "${end}">TASKSTART_TM
        <if test="deptName!='test'">
            AND DEPT_NAME="${deptName}"
        </if>
        <if test="alarmType==2||alarmType==3">
            AND abnormalHandleAdminType=${alarmType}
        </if>
        <if test="alarmType==0">
            AND (abnormalHandleAdminType='2' OR abnormalHandleAdminType='3')
        </if>
        <if test="state==1">
            AND alarm_flag="Y"
        </if>
        <if test="state==2">
            AND alarm_flag="N"
        </if>
        ORDER BY DEPT_NAME,uploadResultTime


    </select>
    <select id="getBCMergeData" resultType="com.demo.model.interlocking.Interlocking">
        SELECT deptName ,
--         (CASE WHEN uploadResultTimeEnd is NULL THEN uploadResultTime ELSE CONCAT(uploadResultTime,'至',uploadResultTimeEnd) END) as 'uploadResultTime',
        uploadResultTime,uploadResultTimeEnd,
        devName,scPart ,scContent,
        abnormalHandleAdminType,alarm_flag as 'alarmFlag',remark,alarm_times
        FROM dxj_spot_alarm_result
        WHERE uploadResultTime>="${start}"
        AND  "${end}">uploadResultTime
        <if test="deptName!='test'">
            AND deptName="${deptName}"
        </if>
        <if test="alarmType==2||alarmType==3">
            AND abnormalHandleAdminType=${alarmType}
        </if>
        <if test="alarmType==0">
            AND (abnormalHandleAdminType='2' OR abnormalHandleAdminType='3')
        </if>
        ORDER BY deptName,uploadResultTime
    </select>



</mapper>