<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.interlocking.MaintenanceMapper">

    <select id="pc_get_MaintenanceResult" resultType="com.demo.model.universal.Maintenance">

        SELECT id,dataTime,deptName,routeName,zoneName,devName,description,pic,discoverer,phone,dealUser,dealResult,dealTime,dealTag
         FROM dxj_maintenance WHERE
        "${endTime}">dataTime
        AND  dataTime >"${startTime}"

        <if test="deptName != 'test' and deptName != ''">
            AND deptName="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">

            AND routeName="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            AND zoneName="${zoneName}"
        </if>
        <if test="devName != 'test'  and devName != ''">
            AND devName="${devName}"
        </if>
        <if test="dealResult =='NO'">
            AND dealResult is null
        </if>
        <if test="dealResult =='YES'">
            AND dealResult is not null
        </if>
    </select>
</mapper>