<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.fxj.SpotFxFxjMapper">
    <select id="ALARM_FX_FXJ_LIST" resultType="com.demo.model.equip.SpotAlarm">
              SELECT
                        (
                            CASE
                            WHEN ROUTE_NAME = "磨机线路（电）" THEN
                                "电仪"
                            ELSE
                                "磨浮"
                            END
                        ) section,
                        uploadResultTime AS time,
                        devName AS equip,
                        SC_PART AS part,
                        SC_CONTENT AS spot,
                             ID as id,
                        RESULT AS value,
                        (
                            CASE
                            WHEN ALTPID = 1 THEN
                                "二级"
                            WHEN ALTPID = 2 THEN
                                "一级"
                            END
                        ) level,
             (CASE   WHEN alarm_flag="N" THEN '未处理'
                         WHEN alarm_flag="Y" THEN '已处理'
                          END) flag,
                        std_value AS standard
                FROM
                        dxj_spot_result
                WHERE
            (ROUTE_NAME='浮选系统' OR ROUTE_NAME='浮选路线')
            AND
            (   devName = CONCAT("${equip}",'浮选机') OR
                devName = CONCAT('二厂浮选电机',"${equip}" ) or
                 devName = CONCAT("${equip}",'电机')
            )
                AND (ALTPID = 1 OR ALTPID = 2)
                AND date(TASKSTART_TM) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
                ORDER BY
                    uploadResultTime DESC;


        </select>
    <select id="SPOT_FXJ_LIST" resultType="com.demo.model.equip.SpotStatistics">
        SELECT
            (case
                when DEPT_NAME='磨浮设备' THEN '设备'
                WHEN DEPT_NAME='磨浮生产' THEN '生产'
                WHEN DEPT_NAME='电仪工段' THEN '电仪' END
            )section,
            count(COMPLETESTATE = 'Y' OR NULL) AS checked,
            count(COMPLETESTATE = 'W' OR NULL) AS unchecked,
            count(ALTPID = 1 OR NULL) AS alarm,
            count(ALTPID = 2 OR NULL) AS danger
        FROM
            dxj_spot_result
        WHERE
            (ROUTE_NAME='浮选系统' OR ROUTE_NAME='浮选路线')
        AND
        (   devName = CONCAT("${equip}",'浮选机') OR
            devName = CONCAT('二厂浮选电机',"${equip}") or
             devName = CONCAT("${equip}",'浮选机电机')
        )

        AND to_days(TASKSTART_TM) = to_days(now()) -- 当天数据
        GROUP BY section

    </select>
    <select id="SPOT_FX_FXJ_SB_LIST" resultType="com.demo.model.equip.detailedData">
select
         '设备' as 'devName',
		MAX(CASE WHEN ( SC_PART='轴承（上）'   and SC_CONTENT='温度')   THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN ( SC_PART='轴承（上）' 	and SC_CONTENT='润滑是否良好')       THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN ( SC_PART='轴承（下）' and SC_CONTENT='温度'  )       THEN tempResult  end )  as  'a3',
		MAX(CASE WHEN ( SC_PART='轴承（下）' and SC_CONTENT='润滑是否良好'  )       THEN tempResult  end )  as  'a4',
		MAX(CASE WHEN  SC_PART='皮带'   THEN tempResult  end )  as  'a5',
		MAX(CASE WHEN  SC_PART='风管'   THEN tempResult  end )  as  'a6',
		MAX(CASE WHEN ( SC_PART='注油管'  )       THEN tempResult  end )  as  'a7',
		MAX(CASE WHEN ( SC_PART='地脚螺栓'   )       THEN tempResult  end )  as  'a8',
		MAX(CASE WHEN ( SC_PART='电流'    )       THEN tempResult  end )  as  'a9',
		MAX(CASE WHEN ( SC_PART='主轴' )       THEN tempResult  end )  as  'a10',
		MAX(CASE WHEN ( SC_PART='定子'  )       THEN tempResult  end )  as  'a11',
		MAX(CASE WHEN ( SC_PART='叶轮及盖板' )       THEN tempResult  end )  as  'a12',
		MAX(CASE WHEN SC_PART='其它'      THEN tempResult  end )  as  'a13'

FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
							WHEN RESULT='运行不检' THEN RESULT
						WHEN RESULT='手工已检' THEN REMARK
						WHEN ((SC_CONTENT!='温度') AND (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
						WHEN ((SC_CONTENT!='温度') AND (ALTPID = 0))  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
							DEPT_NAME='磨浮设备'
					AND ROUTE_NAME='浮选系统'
					AND devName = "${equip}"
-- 					AND TASKSTART_TM='2019-08-19'
                    AND  to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp


    </select>
    <select id="SPOT_FX_FXJ_SC_LIST" resultType="com.demo.model.equip.detailedData">
        select
         '生产' as 'devName',
		MAX(CASE WHEN  SC_PART='浮选机'  				THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN  SC_PART='消泡水'    			THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN  SC_PART='泡沫'      			THEN tempResult  end )  as  'a3',
		MAX(CASE WHEN  SC_PART='泡沫管、溜槽'   THEN tempResult  end )  as  'a4',
		MAX(CASE WHEN  SC_PART='其它'   				THEN tempResult  end )  as  'a5'
FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
						WHEN RESULT='手工已检' THEN REMARK
						WHEN ( (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
						WHEN ( ALTPID = 0)  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
							DEPT_NAME='磨浮生产'
					AND ROUTE_NAME='浮选路线'
					AND devName = "${equip}"
-- 					AND TASKSTART_TM='2019-08-19'
                    AND  to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp

    </select>
    <select id="SPOT_FX_FXJ_DY_LIST" resultType="com.demo.model.equip.detailedData">

select
         '电仪' as 'devName',
		MAX(CASE WHEN  SC_CONTENT='测振'  				THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN  SC_CONTENT='测温'    			THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN  SC_CONTENT='有无异响'      			THEN tempResult  end )  as  'a3',
		MAX(CASE WHEN  SC_CONTENT='有无松动'   THEN tempResult  end )  as  'a4'
FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
						WHEN RESULT='手工已检' THEN REMARK
						WHEN ( (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
						WHEN ( ALTPID = 0)  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
							DEPT_NAME='电仪工段'
					AND ROUTE_NAME='浮选系统'
					AND devName = CONCAT('二厂浮选电机',substring_index("${equip}",'浮', 1) )
-- 					AND TASKSTART_TM='2019-08-19'
                    AND  to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
    </select>
    <select id="SPOT_FX_FXJ2_SB_LIST" resultType="com.demo.model.equip.detailedData">
        select
         '设备' as 'devName',
		MAX(CASE WHEN ( SC_PART='轴承（上）'   and SC_CONTENT='温度')   THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN ( SC_PART='轴承（上）' 	and SC_CONTENT='润滑是否良好')       THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN ( SC_PART='轴承（下）' and SC_CONTENT='温度'  )       THEN tempResult  end )  as  'a3',
		MAX(CASE WHEN ( SC_PART='轴承（下）' and SC_CONTENT='润滑是否良好'  )       THEN tempResult  end )  as  'a4',
		MAX(CASE WHEN  SC_PART='皮带'   THEN tempResult  end )  as  'a5',
		MAX(CASE WHEN  SC_PART='风管'   THEN tempResult  end )  as  'a6',
		MAX(CASE WHEN ( SC_PART='地脚螺栓'  )       THEN tempResult  end )  as  'a7',
		MAX(CASE WHEN ( SC_PART='电流'   )       THEN tempResult  end )  as  'a8',
		MAX(CASE WHEN ( SC_PART='刮板轴'    )       THEN tempResult  end )  as  'a9',
		MAX(CASE WHEN ( SC_PART='刮板轴夹板' )       THEN tempResult  end )  as  'a10',
		MAX(CASE WHEN ( SC_PART='刮板轴U型垫' )       THEN tempResult  end )  as  'a11',
		MAX(CASE WHEN ( SC_PART='刮板轴消泡水管'  )       THEN tempResult  end )  as  'a12',
		MAX(CASE WHEN ( SC_PART='浮选机刮板轴润滑水' )       THEN RESULT  end )  as  'a13',
		MAX(CASE WHEN ( SC_PART='主轴'    )       THEN tempResult  end )  as  'a14',
		MAX(CASE WHEN ( SC_PART='定子' )       THEN tempResult  end )  as  'a15',
		MAX(CASE WHEN ( SC_PART='叶轮及盖板' )       THEN tempResult  end )  as  'a16',
		MAX(CASE WHEN SC_PART='其它'      THEN tempResult  end )  as  'a17'

FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
							WHEN RESULT='运行不检' THEN RESULT
                            WHEN RESULT='手工已检' THEN REMARK
                            WHEN ((SC_CONTENT!='温度') AND (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
                            WHEN ((SC_CONTENT!='温度') AND (ALTPID = 0))  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
							DEPT_NAME='磨浮设备'
					AND ROUTE_NAME='浮选系统'
					AND devName = "${equip}"
-- 					AND TASKSTART_TM='2019-06-24'
                    AND  to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
    </select>


</mapper>