<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.Cms.equip.SpotTsDetailedMapper">
        <select id="SPOT_TS_GLJ1_DETAILED_LIST" resultType="com.demo.model.equip.SpotAlarm">
            SELECT

                (CASE WHEN DEPT_NAME='电仪工段' THEN '电仪'
                WHEN DEPT_NAME LIKE '%设备' THEN '设备'
                WHEN DEPT_NAME LIKE '%生产' THEN '生产'
                END) as section,
                SC_PART as part,SC_CONTENT as content ,RESULT as result,ALTPID as level
            FROM
                    dxj_spot_result
            WHERE
            TO_DAYS(NOW())=TO_DAYS(TASKSTART_TM)

                <if test="param=='param1'">
                    and ((DEPT_NAME='精尾生产' and devName='1#TT-80陶瓷过滤机'  AND SC_PART in ('主轴电机','主轴减速机','主轴轴承') )
                    OR (DEPT_NAME='电仪工段' and devName='1号过滤主轴电机')
                    OR (DEPT_NAME='精尾设备' and devName='1#TT-80陶瓷过滤机' AND SC_PART='主轴减速机'))
                </if>
                <if test="param=='param2'">

                    and ((DEPT_NAME='精尾生产' and devName='1#TT-80陶瓷过滤机' AND SC_PART in ('循环水泵电机','其它') )
                    OR (DEPT_NAME='精尾设备' and devName='1#TT-80陶瓷过滤机' AND SC_PART not in ('搅拌传动部','主轴减速机')))

                </if>
                <if test="param=='param3'">
                    and ((DEPT_NAME='精尾生产' and devName='1#TT-80陶瓷过滤机' AND SC_PART in ('搅拌电机','搅拌器轴承') )
                    OR (DEPT_NAME='电仪工段' and devName='1号过滤搅拌电机')
                    OR (DEPT_NAME='精尾设备' and devName='1#TT-80陶瓷过滤机' AND SC_PART='搅拌传动部') )
                </if>


            ORDER BY
                  FIELD(section,'设备','电仪','生产'),part
        </select>
    <select id="SPOT_TS_GLJ2_DETAILED_LIST" resultType="com.demo.model.equip.SpotAlarm">
        SELECT

        (CASE WHEN DEPT_NAME='电仪工段' THEN '电仪'
        WHEN DEPT_NAME LIKE '%设备' THEN '设备'
        WHEN DEPT_NAME LIKE '%生产' THEN '生产'
        END) as section,
        SC_PART as part,SC_CONTENT as content ,RESULT as result,ALTPID as level
        FROM
        dxj_spot_result
        WHERE
        TO_DAYS(NOW())=TO_DAYS(TASKSTART_TM)

        <if test="param=='param1'">
            and ((DEPT_NAME='精尾生产' and devName='2#TT-80陶瓷过滤机'  AND SC_PART in ('主轴电机','主轴减速机','主轴轴承') )
            OR (DEPT_NAME='电仪工段' and devName='2号过滤主轴电机')
            OR (DEPT_NAME='精尾设备' and devName='2#TT-80陶瓷过滤机' AND SC_PART='主轴减速机'))
        </if>
        <if test="param=='param2'">

            and ((DEPT_NAME='精尾生产' and devName='2#TT-80陶瓷过滤机' AND SC_PART in ('循环水泵电机','其它') )
            OR (DEPT_NAME='精尾设备' and devName='2#TT-80陶瓷过滤机' AND SC_PART not in ('搅拌传动部','主轴减速机')))

        </if>
        <if test="param=='param3'">
            and ((DEPT_NAME='精尾生产' and devName='2#TT-80陶瓷过滤机' AND SC_PART in ('搅拌电机','搅拌器轴承') )
            OR (DEPT_NAME='电仪工段' and devName='2号过滤搅拌电机')
            OR (DEPT_NAME='精尾设备' and devName='2#TT-80陶瓷过滤机' AND SC_PART='搅拌传动部') )
        </if>
        ORDER BY
        FIELD(section,'设备','电仪','生产'),part
    </select>
    <select id="SPOT_TS_YLJ3_DETAILED_LIST" resultType="com.demo.model.equip.SpotAlarm">
        SELECT

        (CASE WHEN DEPT_NAME='电仪工段' THEN '电仪'
        WHEN DEPT_NAME LIKE '%设备' THEN '设备'
        WHEN DEPT_NAME LIKE '%生产' THEN '生产'
        END) as section,
        SC_PART as part,SC_CONTENT as content ,RESULT as result,ALTPID as level
        FROM
        dxj_spot_result
        WHERE
        TO_DAYS(NOW())=TO_DAYS(TASKSTART_TM)

        <if test="param=='param1'">
            and ((DEPT_NAME='精尾生产' and devName='3#APN型压滤机' AND SC_PART ='稀油站' )
            OR (DEPT_NAME='精尾设备' and devName='3#APN型压滤机'
            AND SC_PART in ('油温','液压油管','主、副油缸','油位')))
        </if>
        <if test="param=='param2'">
            AND DEPT_NAME='电仪工段' and devName='3号压滤电机'

        </if>
        <if test="param=='param3'">
            AND ((DEPT_NAME='精尾生产' and devName='3#APN型压滤机' AND SC_PART !='稀油站' )
            OR (DEPT_NAME='精尾设备' and devName='3#APN型压滤机'
            AND SC_PART in ('限位开关','其它')))

        </if>
        ORDER BY
        FIELD(section,'设备','电仪','生产'),part
    </select>


</mapper>