<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.Cms.equip.mk.zmj.SpotZmjDetailedMapper">
    <select id="SPOT_MK_ZMJ_MK_LIST" resultType="com.demo.model.equip.detailedData">
        SELECT
    '磨浮' as 'devName',
	MAX(CASE WHEN spot='轴向速度1'      THEN tempResult  end ) as  'a1',
	MAX(CASE WHEN spot='水平速度1'      THEN tempResult  end ) as  'a2',
	MAX(CASE WHEN spot='垂直速度1'      THEN tempResult  end ) as  'a3',
	MAX(CASE WHEN spot='温度1'          THEN tempResult  end ) as  'a4',
	MAX(CASE WHEN spot='轴向速度2'      THEN tempResult  end ) as  'a5',
	MAX(CASE WHEN spot='水平速度2'      THEN tempResult  end ) as  'a6',
	MAX(CASE WHEN spot='垂直速度2'      THEN tempResult  end ) as  'a7',
	MAX(CASE WHEN spot='温度2' 		     THEN tempResult  end ) as  'a8',
	MAX(CASE WHEN spot='结构' 			 THEN tempResult  end ) as  'a9',
	MAX(CASE WHEN spot='干油润滑站'     THEN tempResult  end ) as  'a10',
	MAX(CASE WHEN spot='轴向速度3'      THEN tempResult  end ) as  'a11',
	MAX(CASE WHEN spot='水平速度3'      THEN tempResult  end ) as  'a12',
	MAX(CASE WHEN spot='垂直速度3'      THEN tempResult  end ) as  'a13',
	MAX(CASE WHEN spot='温度3'          THEN tempResult  end ) as  'a14',
	MAX(CASE WHEN spot='轴向速度4'      THEN tempResult  end ) as  'a15',
	MAX(CASE WHEN spot='水平速度4'      THEN tempResult  end ) as  'a16',
	MAX(CASE WHEN spot='垂直速度4'      THEN tempResult  end ) as  'a17',
	MAX(CASE WHEN spot='温度4' 		     THEN tempResult  end ) as  'a18',
	MAX(CASE WHEN spot='高低压润滑系统'   THEN tempResult  end ) as  'a19'

FROM
(SELECT
		(CASE

				WHEN  SC_PART='进料端轴承轴向速度' THEN '轴向速度2'
				WHEN  SC_PART='进料端轴承水平速度' THEN '水平速度2'
				WHEN  SC_PART='进料端轴承垂直速度' THEN '垂直速度2'
				WHEN  SC_PART='进料端轴承座温度' THEN '温度2'
				WHEN  SC_PART='出料端轴承轴向速度' THEN '轴向速度1'
				WHEN  SC_PART='出料端轴承水平速度' THEN '水平速度1'
				WHEN  SC_PART='出料端轴承垂直速度' THEN '垂直速度1'
				WHEN  SC_PART='出料端轴承座温度' THEN '温度1'
				WHEN  SC_PART='进料端小齿轮轴承轴向速度' THEN '轴向速度4'
				WHEN  SC_PART='进料端小齿轮轴承水平速度' THEN '水平速度4'
				WHEN  SC_PART='进料端小齿轮轴承垂直速度' THEN '垂直速度4'
				WHEN  SC_PART='进料端小齿轮轴承座温度' THEN '温度4'
				WHEN  SC_PART='出料端小齿轮轴承轴向速度' THEN '轴向速度3'
				WHEN  SC_PART='出料端小齿轮轴承水平速度' THEN '水平速度3'
				WHEN  SC_PART='出料端小齿轮轴承垂直速度' THEN '垂直速度3'
				WHEN  SC_PART='出料端小齿轮轴承座温度' THEN '温度3'
				WHEN  devName='再磨机结构' THEN '结构'
				WHEN  devName='再磨机干油润滑站' THEN '干油润滑站'
				WHEN  ZONE_NAME='再磨机稀油润滑系统' THEN '高低压润滑系统'
		END )as spot,
    (CASE
              WHEN RESULT='停机不检' THEN RESULT
				WHEN ((ZONE_NAME='再磨机稀油润滑系统'  OR devName='再磨机干油润滑站' OR devName='再磨机结构') AND (ALTPID = 2 OR ALTPID=1))  THEN '故障'
				WHEN ((ZONE_NAME='再磨机稀油润滑系统'  OR devName='再磨机干油润滑站' OR devName='再磨机结构') AND (ALTPID = 0))  THEN '正常'
				WHEN  (ALTPID=1 OR ALTPID=2) THEN   CONCAT(RESULT,'故障')
			 ELSE RESULT
		END ) as tempResult

FROM
	    dxj_spot_result
WHERE
				(devName='再磨机传动部电机'
			OR
				devName='再磨机传动齿轮'
			OR
				devName='再磨机干油润滑站'
			OR
				devName='再磨机结构'
					OR
							ZONE_NAME='再磨机稀油润滑系统'
			)
			AND
		-- 			YEARWEEK(date_format(TASKSTART_TM, '%Y-%m-%d'),1) = YEARWEEK(now(), 1)-- 一周数据（测试用）
					to_days(TASKSTART_TM) = to_days(now())-- 当天数据
GROUP BY spot) as temp
    </select>
    <select id="SPOT_MK_ZMJ_SC_LIST" resultType="com.demo.model.equip.detailedData">
SELECT
'生产' as 'devName',
	MAX(CASE WHEN SC_PART='筒体端面'    THEN temResult  end ) as  'a1',
	MAX(CASE WHEN SC_PART='流量计'      THEN temResult  end ) as  'a2',
	MAX(CASE WHEN SC_PART='补加水阀'      THEN temResult  end ) as  'a3',
	MAX(CASE WHEN SC_PART='补加水管'          THEN temResult  end ) as  'a4',
	MAX(CASE WHEN SC_PART='甘油喷射系统'      THEN temResult  end ) as  'a5',
	MAX(CASE WHEN SC_PART='排矿浓度'      THEN temResult  end ) as  'a6',
	MAX(CASE WHEN devName ='MQY2745高低压稀油润滑系统' and SC_CONTENT='是否漏油'      THEN temResult  end ) as  'a7',
	MAX(CASE WHEN devName ='MQY2745高低压稀油润滑系统' and SC_CONTENT='冷却水是否正常' 		     THEN temResult  end ) as  'a8'
FROM
(
			SELECT
						devName,SC_CONTENT,SC_PART,
					(	CASE
										WHEN RESULT='停机不检' THEN RESULT
										WHEN  (ALTPID = 2 OR ALTPID=1)  THEN '故障'
										WHEN ALTPID=0 THEN '正常' END

					)temResult
			 from dxj_spot_result
				where  DEPT_NAME = '磨浮生产'
							AND ROUTE_NAME = '磨矿岗'
							and (devName='MQY2745再磨机'OR devName = 'MQY2745高低压稀油润滑系统')
)as tmp

    </select>
    <select id="SPOT_MK_ZMJ_DY_LIST" resultType="com.demo.model.equip.detailedData">
        SELECT
          '电仪' as 'devName',
		MAX(CASE WHEN SC_PART='传动部电机有无异响'         THEN tempResult    end )  as   'a1',
		MAX(CASE WHEN SC_PART='传动部电机滑环'             THEN tempResult    end )  as   'a2',
		MAX(CASE WHEN SC_PART='传动部电机轴承油位'         THEN tempResult    end )  as   'a3',
		MAX(CASE WHEN SC_PART='MQY2745高低压稀油站电机振动'  THEN tempResult  end )  as  'a4',
		MAX(CASE WHEN SC_PART='MQY2745高低压稀油站电机温度'  THEN RESULT      end )  as  'a5'

FROM
		(
			SELECT
						SC_PART,
						(CASE
						WHEN RESULT='停机不检' THEN RESULT
						WHEN ((SC_PART='传动部电机有无异响'
									OR SC_PART='传动部电机滑环'
									OR SC_PART='传动部电机轴承油位'
									OR SC_PART='MQY2745高低压稀油站电机振动'
									) AND (ALTPID = 2 OR ALTPID=1))  THEN '故障'
						WHEN ((SC_PART='传动部电机有无异响'
									OR SC_PART='传动部电机滑环'
									OR SC_PART='传动部电机轴承油位'
									OR SC_PART='MQY2745高低压稀油站电机振动'
									) AND (ALTPID = 0))  THEN '正常'
						WHEN ALTPID is null then '未检'
						END ) as tempResult,
						RESULT
			FROM
					dxj_spot_result
			WHERE
					((
                ZONE_NAME = '再磨机'
                OR ZONE_NAME = '球磨机稀油润滑系统'
            )
            OR (
                devName = 'MQY2745再磨机电机'

            )
             OR devName='MQY2745再磨机高低压稀油站电机'
				)
			AND
							to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
    </select>

</mapper>