#header{    
background-image: url('/images/start.jpg');
background-size: 100% 100%;         
border: 1px solid red; padding-top: 20px;padding-bottom: 20px;
margin-left:7%;
margin-right:8%;
}
#logo{text-align:center;}
#logo img{    
max-width: 100px;height:60px;}
#mytitle{    
/*line-height: 100px;*//*垂直居中关键*/height: 50px;        
text-align:left;        
font-size: 36px;        
font-weight: bold;color:#00ff00;text-shadow: 5px 5px 5px #FF0000;}
#entitle{    
font-size: 24px;
}
#biuder{    
pull-left:50px;    
line-height: 12px;        
text-align:left;color:#ffffff;
}
#userbtn{    
text-align:middle;border: 1px solid #cecece;
}
#main div{
border: 1px solid #cecece;}
#honor img{    
display:block;    
margin:0 auto;   
height:200px;    
width:auto;opacity:0.4;        
filter:alpha(opacity=40);   
}
#honor img:hover{opacity:1.0;        
filter:alpha(opacity=100);    
}
#mynav{
margin-left:7%;
margin-right:8%;
}