<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.report.equip.sk.ReportSBSKEPMapper">


    <select id="REPORT_SB_SK_EP_RUN_LIST" resultType="com.demo.model.report.Report">
          SELECT
                SC_PART  as equipName,
(CASE

-- 驱动装置
			WHEN SC_CONTENT = '电机与减速机联轴器尼龙柱销有无磨损' THEN '电机联轴器'
			WHEN SC_CONTENT = '电机固定螺栓有无松动' THEN '固定螺栓'
			WHEN SC_CONTENT = '小皮带轮轴承有无异响' OR SC_CONTENT = '小皮带轮和皮带有无打滑现象' THEN '小皮带轮'
			WHEN SC_CONTENT = '小皮带轮轴承温度' THEN '小皮带轮轴承温度'
			WHEN SC_CONTENT = '传动皮带有无断裂，磨损严重现象' THEN '传动三角皮带'
			WHEN SC_CONTENT = '大皮带轮和皮带有无打滑现象' THEN '大皮带轮'

-- 偏心轴
			WHEN SC_CONTENT = '偏心轴轴瓦温度' THEN '偏心轴温度'
			WHEN SC_CONTENT = '偏心轴运转有无异响' OR SC_CONTENT = '偏心轴有无漏油现象' OR SC_CONTENT = '偏心轴冷却水有无泻漏'THEN '偏心轴运转'

-- 肘板装置
			WHEN SC_CONTENT = '肘板体是否有裂缝' THEN '肘板体'
			WHEN SC_CONTENT = '肘板头固定螺栓是否松动' THEN '肘板头'
			WHEN SC_CONTENT = '肘板头和肘板垫是否磨损失效' THEN '肘板垫'

-- 拉杆弹簧部
			WHEN SC_CONTENT LIKE '拉杆轴销是否松动' THEN '拉杆轴销'
			WHEN SC_CONTENT = '拉杆弹簧无变形、无断裂、合适预紧力' OR SC_CONTENT = '拉杆螺母有无松动' THEN '拉杆弹簧'
			WHEN SC_CONTENT = '拉杆滚轮滚动是否灵活' THEN '拉杆支撑轴承'
			WHEN SC_CONTENT = '拉杆座是否损坏' THEN '拉杆座'

-- 连杆装置
			WHEN SC_CONTENT = '上下连杆部联接螺栓有无松动断裂现象' THEN '上下连杆部紧固螺栓'
			WHEN SC_CONTENT = '连杆体是否完好' OR SC_CONTENT = '连杆体集油器无漏油现象' THEN '连杆体'
-- 动颚装置
			WHEN SC_CONTENT = '动颚轴运转有无异响' THEN '动颚轴运转'
			WHEN SC_CONTENT = '动颚轴套压盖螺栓是否松动' THEN '动颚轴压盖螺栓'
			WHEN SC_CONTENT = '动定颚齿板是否磨损' THEN '动颚齿板'
			WHEN SC_CONTENT = '动定颚齿板及衬板螺栓是否松动' THEN '动颚齿板螺栓'
			WHEN SC_CONTENT = '动颚腔边护板是否磨损' THEN '动颚腔护板'
			WHEN SC_CONTENT = '动颚腔边护板螺栓是否松动' THEN '动颚腔护板固定螺栓'


-- 给矿装置
			WHEN SC_CONTENT = '条格筛两侧衬板是否磨损、松动' THEN '条格筛两侧护板'
			WHEN SC_CONTENT = '条格筛屋檐板无破损、无脱焊现象' THEN '屋檐板'
			WHEN SC_CONTENT = '条格筛耐磨块是否磨损、间距大于工艺参数' THEN '条格筛耐磨块'
			WHEN SC_CONTENT = '条格筛支撑架是否磨损或跑偏' THEN '条格筛支撑架'
			WHEN SC_CONTENT = '条格筛缓冲链条是否完好' THEN '缓冲链条'
			WHEN SC_CONTENT = '条格筛下矿正面挡矿板是否磨损失效' THEN '条格筛下矿正面护板'
			WHEN SC_CONTENT = '条格筛下端护板是否磨损失效' THEN '条格筛下端护板'

-- 甘油装置
			WHEN SC_CONTENT = '油桶油位是否正常' THEN '油桶油位'
			WHEN SC_CONTENT = '油管接头是否松动及软管是否漏油' THEN '油管'
			WHEN SC_CONTENT = '注油器是否正常运行' THEN '注油器运转'

-- 低压稀油润滑
			WHEN SC_CONTENT = '供回油管、阀、接头是否漏油' THEN '供回油管'
			WHEN SC_CONTENT = '油箱油位是否在标准范围内' THEN '油箱油位'
			WHEN SC_CONTENT = '油箱内油质是否符合要求' THEN '油箱油质'
			WHEN SC_CONTENT = '油泵运转是否正常、给油量是否稳定、连续' THEN '油泵运转'
			WHEN SC_CONTENT = '油泵供油压力' THEN '压力表'
			WHEN SC_CONTENT = '低压油站油箱温度' THEN '油站油箱温度'
			WHEN SC_CONTENT = '冷却器是否正常（无堵塞，排出水无油、矿浆）' THEN '冷却器'
			WHEN SC_CONTENT = '回油磁网过滤装置有无堵塞' THEN '回油磁网过滤装置'

ELSE  SC_CONTENT END)as part,

RESULT as result,MAX(ALTPID) as altpid
        from dxj_spot_result WHERE
          DEPT_NAME="碎矿设备"

            AND  (ZONE_NAME='颚破'  AND devName='简摆颚式破碎机')

                and TASKSTART_TM="${time}"
GROUP BY equipName ,part
        ORDER BY equipName  DESC

    </select>
    <select id="REPORT_SB_SK_EP_CC_RUN_LIST" resultType="com.demo.model.report.Report">
         SELECT
                devName as equipName,
							(CASE
									WHEN SC_CONTENT = '三角皮带磨损失效' THEN '传动三角带'
									WHEN SC_CONTENT = '皮带轮是否磨损失效' THEN '皮带轮'
									WHEN SC_CONTENT = '润滑油质是否符合要求' OR SC_CONTENT = '润滑油油位是否在标准范围内' THEN '轴承箱油位'
									WHEN SC_CONTENT = '轴承运行是否异响' THEN '风机运转'
									WHEN SC_CONTENT = '是否漏水' OR SC_CONTENT = '是否漏油' OR SC_CONTENT = '是否漏水' THEN '固定螺栓'
									WHEN SC_CONTENT = '有无松动' THEN '大皮带轮'
									else SC_PART   end) AS	part,
							RESULT as result,
							ALTPID as altpid
				from
							dxj_spot_result
				WHERE
							DEPT_NAME="碎矿设备"

            AND  (ZONE_NAME='颚破'AND devName='湿式除尘风机' )

             and TASKSTART_TM="${time}"

						GROUP BY equipName ,part

						ORDER BY  equipName ,part DESC


    </select>
</mapper>