<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.report.equip.sk.ReportSCSKMapper">

    <select id="REPORT_SC_SK_PSG_RUN_LIST" resultType="com.demo.model.report.Report">
        SELECT  equipName,MAX(oneNum) as oneNum,MAX(twoNum) as twoNum,MAX(threeNum) as threeNum FROM (
            SELECT
                devName as equipName,
                <if test="duty=='白班'">
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='08:00:00'   THEN max(ALTPID) END) AS oneNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='12:00:00'   THEN Max(ALTPID) END) AS twoNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='16:00:00'   THEN Max(ALTPID) END) AS threeNum
                </if>
                <if test="duty=='夜班'">
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='20:00:00'   THEN max(ALTPID) END) AS oneNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='00:00:00'   THEN Max(ALTPID) END) AS twoNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='04:00:00'   THEN Max(ALTPID) END) AS threeNum
                </if>
            from
                  dxj_spot_result
            WHERE
                  DEPT_NAME="${team}"
                   AND ROUTE_NAME='破碎机岗' AND  devName!='湿式除尘风机'

            --  白班、页面时间划分
                    <if test="duty=='白班'">
                        AND TASKSTART_TM >= concat("${time}", ' ', '08:00:00')
                        AND   concat("${time}", ' ', '20:00:00')  >TASKSTART_TM
                    </if>
                    <if test="duty=='夜班'">
                        AND TASKSTART_TM >= concat("${time}", ' ', '20:00:00')
                        AND    concat(DATE_FORMAT(date_sub("${time}",interval -1 day),'%Y-%m-%d'),' ', '08:00:00')  >TASKSTART_TM
                    </if>

            GROUP BY
                    equipName,DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')
        )as m   GROUP BY  FIELD(equipName,'1#皮带运输机','简摆颚式破碎机','重板板式给料机')


    </select>
    <select id="REPORT_SC_SK_SHG_1_RUN_LIST" resultType="com.demo.model.report.Report">
        SELECT  equipName,MAX(oneNum) as oneNum,MAX(twoNum) as twoNum,MAX(threeNum) as threeNum FROM (
            SELECT
                ( CASE  WHEN devName LIKE '%石灰输送搅拌桶' then '3m搅拌桶'
                WHEN devName LIKE '%石灰制乳搅拌桶' THEN '4m搅拌桶'
                when devName LIKE '%离心式渣浆泵' THEN '渣浆泵'  END  ) as equipName
                ,
                <if test="duty=='白班'">
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='08:00:00'   THEN max(ALTPID) END) AS oneNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='12:00:00'   THEN Max(ALTPID) END) AS twoNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='16:00:00'   THEN Max(ALTPID) END) AS threeNum
                </if>
                <if test="duty=='夜班'">
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='20:00:00'   THEN max(ALTPID) END) AS oneNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='00:00:00'   THEN Max(ALTPID) END) AS twoNum,
                    (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='04:00:00'   THEN Max(ALTPID) END) AS threeNum
                </if>
            from
                dxj_spot_result
            WHERE
                DEPT_NAME = '碎矿生产' AND

                ROUTE_NAME='石灰乳化岗' AND (devName LIKE '%搅拌桶' OR  devName LIKE '%离心式渣浆泵')
                --  白班、页面时间划分
                <if test="duty=='白班'">
                AND TASKSTART_TM >= concat("${time}", ' ', '08:00:00')
                AND   concat("${time}", ' ', '20:00:00')  >TASKSTART_TM
                </if>
                <if test="duty=='夜班'">
                AND TASKSTART_TM >= concat("${time}", ' ', '20:00:00')
                AND    concat(DATE_FORMAT(date_sub("${time}",interval -1 day),'%Y-%m-%d'),' ', '08:00:00')  >TASKSTART_TM
                </if>
            GROUP BY
                equipName,DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')
        )as m   GROUP BY  FIELD(equipName,'1#皮带运输机','简摆颚式破碎机','重板板式给料机')

    </select>
    <select id="REPORT_SC_SK_PDG_1_RUN_LIST" resultType="com.demo.model.report.Report">
        SELECT  zoneName,equipName,MAX(oneNum) as oneNum,MAX(twoNum) as twoNum,MAX(threeNum) as threeNum FROM (
       SELECT
            ZONE_NAME as zoneName,
            (CASE WHEN devName LIKE '%中间矿堆' THEN devName
            ELSE SC_PART
            END
            )AS equipName,
            <if test="duty=='白班'">
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='08:00:00'   THEN max(ALTPID) END) AS oneNum,
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='12:00:00'   THEN Max(ALTPID) END) AS twoNum,
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='16:00:00'   THEN Max(ALTPID) END) AS threeNum
            </if>
            <if test="duty=='夜班'">
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='20:00:00'   THEN max(ALTPID) END) AS oneNum,
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='00:00:00'   THEN Max(ALTPID) END) AS twoNum,
                (CASE  WHEN   DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')='04:00:00'   THEN Max(ALTPID) END) AS threeNum
            </if>
       FROM
              dxj_spot_result
       WHERE
               DEPT_NAME='碎矿生产'
             AND ROUTE_NAME='碎矿胶带运输机岗'
            --  白班、页面时间划分
            <if test="duty=='白班'">
            AND TASKSTART_TM >= concat("${time}", ' ', '08:00:00')
            AND   concat("${time}", ' ', '20:00:00')  >TASKSTART_TM
            </if>
            <if test="duty=='夜班'">
            AND TASKSTART_TM >= concat("${time}", ' ', '20:00:00')
            AND    concat(DATE_FORMAT(date_sub("${time}",interval -1 day),'%Y-%m-%d'),' ', '08:00:00')  >TASKSTART_TM
            </if>

        GROUP BY
            zoneName,equipName,DATE_FORMAT(TASKSTART_TM,'%H:%i:%s')
        )as m   GROUP BY zoneName,equipName

    </select>


</mapper>