<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.ts.glj2.SpotTSGLJ2DetailedMapper">
    <select id="TS_GLJ2_SB_Detailed_LIST" resultType="com.demo.model.equip.detailedData">
   SELECT

				'设备' as 'devName',
				MAX(CASE	WHEN SC_PART='搅拌传动部' AND SC_CONTENT LIKE '润滑%' THEN tempResult END ) as 'a1',
				MAX(CASE 	WHEN SC_PART='搅拌传动部' AND SC_CONTENT LIKE '减速机%' THEN tempResult END ) as 'a2',
				MAX(CASE 	WHEN SC_PART='搅拌传动部' AND SC_CONTENT LIKE '基座%'  THEN tempResult END ) as 'a3',
				MAX(CASE WHEN  SC_PART='分配头部' AND SC_CONTENT LIKE '是否磨损%' THEN tempResult END ) as 'a4',
				MAX(CASE WHEN  SC_PART='刮刀部' AND SC_CONTENT LIKE '刮刀是否%' THEN tempResult END ) as 'a5',
				MAX(CASE WHEN  SC_PART='刮刀部' AND SC_CONTENT LIKE'刮刀与%' THEN tempResult END ) as 'a6',
				MAX(CASE WHEN  SC_PART='本体' AND SC_CONTENT = '温度' THEN tempResult END ) as 'a7',
				MAX(CASE WHEN  SC_PART='水封水' AND SC_CONTENT = '是否正常' THEN tempResult END ) as 'a8',
				MAX(CASE WHEN  SC_PART='计量酸泵' AND SC_CONTENT = '有无泄漏' THEN tempResult END ) as 'a9'
	FROM
		(SELECT
					SC_CONTENT,RESULT,SC_PART,devName,
				(CASE
				WHEN 	(ALTPID = 2 OR ALTPID=1)  THEN '故障'
				WHEN 	(ALTPID = 0)  THEN '正常'
				ELSE RESULT
				END ) as tempResult

		FROM
				dxj_spot_result
		WHERE
				(DEPT_NAME="精尾设备"			AND devName="2#TT-80陶瓷过滤机")
				AND to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as tmp


        </select>
    <select id="TS_GLJ2_SC_Detailed_LIST" resultType="com.demo.model.equip.detailedData">
        SELECT
  '生产' as 'devName',
	MAX(CASE WHEN SC_PART='主轴电机' AND SC_CONTENT='温度'    			THEN temResult  end ) as  'a1',
	MAX(CASE WHEN SC_PART='主轴电机' AND SC_CONTENT='震动'       		THEN temResult  end ) as  'a2',
	MAX(CASE WHEN SC_PART='主轴电机' AND SC_CONTENT='螺栓是否紧固'  THEN temResult  end ) as  'a3',
	MAX(CASE WHEN SC_PART='主轴电机' AND SC_CONTENT='是否加油润滑'  THEN temResult  end ) as  'a4',
	MAX(CASE WHEN SC_PART='主轴减速机' AND SC_CONTENT='温度'  THEN temResult  end ) as  'a5',
	MAX(CASE WHEN SC_PART='主轴减速机' AND SC_CONTENT='震动'      THEN temResult  end ) as  'a6',
	MAX(CASE WHEN SC_PART='主轴减速机' AND SC_CONTENT='螺栓是否紧固'      THEN temResult  end ) as  'a7',
	MAX(CASE WHEN SC_PART='主轴减速机' AND SC_CONTENT='油液是否达标'  		     THEN temResult  end ) as  'a8',
	MAX(CASE WHEN SC_PART='主轴减速机' AND SC_CONTENT='是否漏油' 			 THEN temResult  end ) as  'a9',
	MAX(CASE WHEN SC_PART='主轴轴承' AND SC_CONTENT='震动' 	    THEN temResult  end ) as  'a10',
	MAX(CASE WHEN SC_PART='主轴轴承' AND SC_CONTENT='连接是否紧固' 	    THEN temResult  end ) as  'a11',
	MAX(CASE WHEN SC_PART='主轴轴承' AND SC_CONTENT='是否加油润滑' 	    THEN temResult  end ) as  'a12',
	MAX(CASE WHEN SC_PART='搅拌电机' AND SC_CONTENT='温度' 	    THEN temResult  end ) as  'a13',
	MAX(CASE WHEN SC_PART='搅拌电机' AND SC_CONTENT='震动' 	    THEN temResult  end ) as  'a14',
	MAX(CASE WHEN SC_PART='搅拌电机' AND SC_CONTENT='螺栓是否紧固' 	    THEN temResult  end ) as  'a15',
	MAX(CASE WHEN SC_PART='搅拌电机' AND SC_CONTENT='是否加油润滑' 	    THEN temResult  end ) as  'a16',

	MAX(CASE WHEN SC_PART='搅拌器轴承' AND SC_CONTENT='震动' 	    THEN temResult  end ) as  'a17',
	MAX(CASE WHEN SC_PART='搅拌器轴承' AND SC_CONTENT='连接是否紧固' 	    THEN temResult  end ) as  'a18',
	MAX(CASE WHEN SC_PART='搅拌器轴承' AND SC_CONTENT='是否加油润滑' 	    THEN temResult  end ) as  'a19',
	MAX(CASE WHEN SC_PART='循环水泵电机' AND SC_CONTENT='温度' 	    THEN temResult  end ) as  'a20',
	MAX(CASE WHEN SC_PART='循环水泵电机' AND SC_CONTENT='震动' 	    THEN temResult  end ) as  'a21',
	MAX(CASE WHEN SC_PART='循环水泵电机' AND SC_CONTENT='螺栓是否紧固' 	    THEN temResult  end ) as  'a22',
	MAX(CASE WHEN SC_PART='循环水泵电机' AND SC_CONTENT='是否加油润滑' 	    THEN temResult  end ) as  'a23'

FROM
(
			SELECT
						devName,SC_CONTENT,SC_PART,
					(	CASE

										WHEN  (ALTPID = 2 OR ALTPID=1)  THEN '故障'
										WHEN ALTPID=0 THEN '正常' ELSE RESULT END
--
			)temResult
			 from dxj_spot_result
					where  DEPT_NAME='精尾生产' AND devName='2#TT-80陶瓷过滤机'

)as tmp


    </select>
    <select id="TS_GLJ2_DY_Detailed_LIST" resultType="com.demo.model.equip.detailedData">
 SELECT
 '电仪' as 'devName',
		MAX(CASE WHEN devName='2号过滤搅拌电机' AND SC_CONTENT ='测振'       THEN tempResult  end )  as   'a1',
		MAX(CASE WHEN devName='2号过滤搅拌电机' AND SC_CONTENT ='测温'       THEN tempResult  end )  as   'a2',
		MAX(CASE WHEN devName='2号过滤搅拌电机' AND SC_CONTENT ='有无异响'   THEN tempResult  end )  as   'a3',
		MAX(CASE WHEN devName='2号过滤搅拌电机' AND SC_CONTENT ='有无松动'   THEN tempResult      end )  as   'a4',
		MAX(CASE WHEN devName='2号过滤主轴电机' AND SC_CONTENT ='测振'       THEN tempResult  end )  as   'a5',
		MAX(CASE WHEN devName='2号过滤主轴电机' AND SC_CONTENT ='测温'       THEN tempResult  end )  as   'a6',
		MAX(CASE WHEN devName='2号过滤主轴电机' AND SC_CONTENT ='有无异响'   THEN tempResult  end )  as   'a7',
		MAX(CASE WHEN devName='2号过滤主轴电机' AND SC_CONTENT ='有无松动'   THEN tempResult      end )  as   'a8'
FROM
		(
			SELECT
						SC_CONTENT,devName,
						(CASE
						WHEN 	(ALTPID = 2 OR ALTPID=1)  THEN '故障'
						WHEN 	(ALTPID = 0)  THEN '正常'
						ELSE RESULT
						END  ) as tempResult


			FROM
					dxj_spot_result
			WHERE
					(DEPT_NAME="电仪工段" AND (devName='2号过滤搅拌电机' OR devName='2号过滤主轴电机'))
			AND
							to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
    </select>


</mapper>