<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.mk.gkfj.AlarmGkfjMapper">
     <select id="MK_PD_ALARM_LIST" resultType="com.demo.model.equip.SpotAlarm">
       SELECT
            DEPT_NAME AS section,
						devName as equip,
						SC_PART as part,
						SC_CONTENT AS spot,
            RESULT AS value,
            ID as id,
            std_value as standard,
            uploadResultTime as time,
            (
                CASE

                WHEN ALTPID = 1 THEN
                    "二级"
                WHEN ALTPID = 2 THEN
                    "一级"
                END
            ) level,
             (CASE   WHEN alarm_flag="N" THEN '未处理'
                         WHEN alarm_flag="Y" THEN '已处理'
                          END) flag
        FROM
            dxj_spot_result
        WHERE
            (ALTPID = 1 OR ALTPID = 2)
-- 					AND alarm_flag='N'
					AND
						(
							devName='5#皮带运输机' OR devName='5#皮带运输机电机'
						 )
					AND
						date(uploadResultTime) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
        ORDER BY
            COMPLETE_TM DESC
   </select>
    <select id="MK_ZB_ALARM_LIST" resultType="com.demo.model.equip.SpotAlarm">
      SELECT
            DEPT_NAME AS section,
						devName as equip,
						SC_PART as part,
						SC_CONTENT AS spot,
            RESULT AS value,
                 ID as id,
            std_value as standard,
            uploadResultTime as time,
            (
                CASE

                WHEN ALTPID = 1 THEN
                    "二级"
                WHEN ALTPID = 2 THEN
                    "一级"
                END
            ) level,
             (CASE   WHEN alarm_flag="N" THEN '未处理'
                         WHEN alarm_flag="Y" THEN '已处理'
                          END) flag
        FROM
            dxj_spot_result
        WHERE
            (ALTPID = 1 OR ALTPID = 2)
-- 					AND alarm_flag='N'
					AND
						(
							devName='1#中重型板式给矿机' OR devName='1#中重型板式给矿机电机'
							OR devName='2#中重型板式给矿机' OR devName='2#中重型板式给矿机电机'
						 )
					AND
						date(uploadResultTime) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
        ORDER BY
            COMPLETE_TM DESC

    </select>
    <select id="MK_XLQ_ALARM_LIST" resultType="com.demo.model.equip.SpotAlarm">
      SELECT
            DEPT_NAME AS section,
						devName as equip,
						SC_PART as part,
						SC_CONTENT AS spot,
            RESULT AS value,
                 ID as id,
            std_value as standard,
            uploadResultTime as time,
            (
                CASE

                WHEN ALTPID = 1 THEN
                    "二级"
                WHEN ALTPID = 2 THEN
                    "一级"
                END
            ) level,
             (CASE   WHEN alarm_flag="N" THEN '未处理'
                         WHEN alarm_flag="Y" THEN '已处理'
                          END) flag
        FROM
            dxj_spot_result
        WHERE
            (ALTPID = 1 OR ALTPID = 2)
--             AND  alarm_flag='N'
            AND
                (
                    devName='FX350-GT旋流器' OR devName='FX660-GT旋流器（A组）'
                    OR devName='FX660-GT旋流器（B组）'
                 )
            AND
                date(uploadResultTime) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
        ORDER BY
            COMPLETE_TM DESC

    </select>

</mapper>