<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.mk.pd.SpotGkfjDetailedPDMapper">
        <select id="SPOT_GKFJ_MK_DETAILED_PD_LIST" resultType="com.demo.model.equip.detailedData">
              SELECT
										'设备' as 'devName',
										MAX(CASE WHEN SC_CONTENT='润滑油油质是否符合要求'  THEN temResult  end ) as  'a1',
										MAX(CASE WHEN SC_CONTENT='联轴器有无损伤'   THEN temResult  end ) as  'a2',
										MAX(CASE WHEN SC_CONTENT='润滑油油质是否符合要求'     THEN temResult  end ) as  'a3',
										MAX(CASE WHEN SC_PART='清扫器'  THEN temResult  end ) as  'a4',
										MAX(CASE WHEN SC_PART='上、下托辊'   THEN temResult  end ) as  'a5',
										MAX(CASE WHEN SC_PART='紧急拉绳装置'     THEN temResult  end ) as  'a6',
										MAX(CASE WHEN SC_PART='皮带'  THEN temResult  end ) as  'a7',
										MAX(CASE WHEN SC_PART='尾轮'   THEN temResult  end ) as  'a8',
										MAX(CASE WHEN SC_PART='尾部拉紧装置'     THEN temResult  end ) as  'a9'
								FROM
										(
										SELECT
										devName,SC_CONTENT,SC_PART,
												(CASE
																	WHEN RESULT='停机不检' THEN RESULT
																WHEN  (ALTPID = 2 OR ALTPID=1)  THEN '故障'
										WHEN ALTPID=0 THEN '正常' END

										)temResult
										 from dxj_spot_result

										WHERE
           date(TASKSTART_TM)>= DATE_SUB(CURDATE(), INTERVAL 5 DAY) AND
														DEPT_NAME='磨浮设备' AND
														devName='5#皮带运输机'  )as tmp
        </select>
    <select id="SPOT_GKFJ_DY_DETAILED_PD_LIST" resultType="com.demo.model.equip.detailedData">
                SELECT
										'电仪' as 'devName',
										MAX(CASE WHEN SC_CONTENT='测温'  THEN  Result end ) as  'a1',
										MAX(CASE WHEN SC_CONTENT='测振'   THEN Result  end ) as  'a2',
										MAX(CASE WHEN SC_CONTENT='有无异响'     THEN tempResult  end ) as  'a3',
										MAX(CASE WHEN SC_CONTENT='有无松动'  THEN tempResult  end ) as  'a4'
								FROM
										(
										SELECT
										devName,SC_CONTENT,SC_PART,Result,
												(CASE
																WHEN RESULT='停机不检' THEN RESULT
																WHEN  (ALTPID = 2 OR ALTPID=1)  THEN '故障'
																WHEN ALTPID=0 THEN '正常' ELSE RESULT END

										)tempResult
										 from dxj_spot_result

										WHERE
												TO_DAYS(TASKSTART_TM)=TO_DAYS(NOW())AND
														DEPT_NAME='电仪工段' AND
														devName='5#皮带运输机电机'  )as tmp

    </select>
    <select id="SPOT_GKFJ_SC_DETAILED_PD_LIST" resultType="com.demo.model.equip.detailedData">

                SELECT
                          '生产' as 'devName',
                            MAX(CASE WHEN SC_PART='皮带挡矿板'  AND SC_CONTENT='是否磨损' THEN temResult  end ) as  'a1',
                            MAX(CASE WHEN SC_PART='皮带'  AND SC_CONTENT='是否跑偏' THEN temResult  end ) as  'a2',
                            MAX(CASE WHEN SC_PART='皮带'  AND SC_CONTENT='是否有划痕' THEN temResult  end ) as  'a3',
                            MAX(CASE WHEN SC_PART='托辊'  AND SC_CONTENT='是否有异响' THEN temResult  end ) as  'a4',
                            MAX(CASE WHEN SC_PART='托辊'  AND SC_CONTENT='是否脱落' THEN temResult  end ) as  'a5',
                            MAX(CASE WHEN SC_PART='托辊'  AND SC_CONTENT='是否粘矿较多' THEN temResult  end ) as  'a6',
                            MAX(CASE WHEN SC_PART='托辊'  AND SC_CONTENT='是否磨损、损坏' THEN temResult  end ) as  'a7',
                            MAX(CASE WHEN SC_PART='支架'  AND SC_CONTENT='是否磨损、损坏' THEN temResult  end ) as  'a8',
                            MAX(CASE WHEN SC_PART='油箱'  AND SC_CONTENT='油位是否正常' THEN temResult  end ) as  'a9',
                            MAX(CASE WHEN SC_PART='皮带减速机、电机'  AND SC_CONTENT='油箱是否漏油渗油' THEN temResult  end ) as  'a10',
                            MAX(CASE WHEN SC_PART='皮带减速机、电机'  AND SC_CONTENT='是否有异响' THEN temResult  end ) as  'a11',
                            MAX(CASE WHEN SC_PART='皮带减速机、电机'  AND SC_CONTENT='是否有震动' THEN temResult  end ) as  'a12',
                            MAX(CASE WHEN SC_PART='首尾轮滚筒'  AND SC_CONTENT='是否有异响' THEN temResult  end ) as  'a13',
                            MAX(CASE WHEN SC_PART='首尾轮滚筒'  AND SC_CONTENT='是否粘矿较多' THEN temResult  end ) as  'a14',
                            MAX(CASE WHEN SC_PART='首尾轮滚筒'  AND SC_CONTENT='转轴是否灵活' THEN temResult  end ) as  'a15',
                            MAX(CASE WHEN SC_PART='首尾轮滚筒'  AND SC_CONTENT='是否有异响' THEN temResult  end ) as  'a16',
                            MAX(CASE WHEN SC_PART='给料小车'  AND SC_CONTENT='是否堵塞' THEN temResult  end ) as  'a17',
                            MAX(CASE WHEN SC_PART='补加水阀'  AND SC_CONTENT='是否正常运行' THEN temResult  end ) as  'a18',
                            MAX(CASE WHEN SC_PART='补加水管'  AND SC_CONTENT='是否漏水' THEN temResult  end ) as  'a19',
                            MAX(CASE WHEN SC_PART='皮带廊'  AND SC_CONTENT='是否有较多积矿' THEN temResult  end ) as  'a20',
                            MAX(CASE WHEN SC_PART='流量计'  AND SC_CONTENT='水量' THEN RESULT  end ) as  'a21',
                            MAX(CASE WHEN SC_PART='皮带'  AND SC_CONTENT='台效' THEN RESULT  end ) as  'a22'
                 FROM
                        (
                        SELECT
                                devName,SC_CONTENT,RESULT,SC_PART,
                                (CASE
                                 WHEN RESULT='停机不检' THEN RESULT
                                 WHEN  (ALTPID = 2 OR ALTPID=1)  THEN '故障'
                                WHEN ALTPID=0 THEN '正常' ELSE RESULT END
                                )temResult
                        from dxj_spot_result
                        where  DEPT_NAME = '磨浮生产'  and
                        TO_DAYS(TASKSTART_TM)=TO_DAYS(NOW())AND
                         devName = '5#皮带运输机' )as tmp
    </select>

</mapper>