<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.Cms.index.IndexSpotStatisticsMapper">
    <select id="INDEX_SPOT_STATISTICS_LIST" resultType="com.demo.model.equip.SpotStatistics">
        SELECT

            count(COMPLETESTATE='Y' OR null) as complete,
            count(COMPLETESTATE='Y' and ALTPID='0' OR null) as normal,
            count(COMPLETESTATE='Y' and ALTPID='1' OR null) as alarm,
            count(COMPLETESTATE='Y' and ALTPID='2' OR null) as danger,
            count(COMPLETESTATE='W'  OR null) as incomplete
        FROM
            dxj_spot_result
        WHERE
        (<if test="param == 'sc'">
              DEPT_NAME='电仪工段'
        </if>
        <if test="param == 'dy'">
            DEPT_NAME='电仪工段'
        </if>
        <if test="param == 'sb'">
            DEPT_NAME='磨浮工段'
        </if>）
        AND
        --  to_days(TASKSTART_TM) = to_days(now()) -- 当天数据
            DATE_FORMAT(TASKSTART_TM, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m') -- 当月数据（测试用）
    </select>

</mapper>