<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.Cms.report.equip.mf.ReportSBMFMJMapper">
    <select id="REPORT_SB_MK_MJ_ZJB_RUN_LIST" resultType="com.demo.model.report.Report">

        SELECT
			devName as equipName,
				(case
				WHEN SC_PART='轴承体' AND SC_CONTENT='润滑油油位是否在标准范围内' THEN '油位'
				WHEN SC_PART='轴承体' AND SC_CONTENT='润滑油质是否符合要求' THEN '油质'
				WHEN SC_PART='泵体' THEN '过流件'
				WHEN SC_PART='填料' AND SC_CONTENT='密封是否良好，是否损伤' THEN '填料密封'
				WHEN SC_PART='填料' AND SC_CONTENT='水封水压力是否正常' THEN '水封水'
		ELSE SC_PART  END
		) as part,
					RESULT as result,
					ALTPID as altpid
        FROM
					dxj_spot_result
		WHERE
              DEPT_NAME="磨浮设备"
        <if test="equip=='再磨机'">
            AND (ROUTE_NAME='浮选底层' AND  (devName = '1#离心式渣浆泵（再磨砂）' OR  devName = '2#离心式渣浆泵（再磨砂）'))
        </if>
        <if test="equip=='半自磨机'">
            AND  (ZONE_NAME='粗砂泵' )
        </if>
        AND TASKSTART_TM="${time}"
        ORDER BY equipName ,part DESC



    </select>
    <select id="REPORT_SB_MK_ZMJ_RUN_LIST" resultType="com.demo.model.report.Report">

		SELECT
					devName as equipName ,
					SC_PART as part,
					RESULT as result,
					ALTPID as altpid
        FROM
					dxj_spot_result
		WHERE
					DEPT_NAME="磨浮设备"
            AND  (ZONE_NAME='再磨机' OR ZONE_NAME='FX350-GT旋流器' or ZONE_NAME='再磨机稀油润滑系统' )
			AND  (SC_PART NOT LIKE '%磨损量' and SC_PART NOT LIKE '摩擦%' and SC_PART != '气胎' )
               AND TASKSTART_TM="${time}"
        ORDER BY
                FIELD(equipName,'再磨机结构','再磨机气动离合器','再磨机干油润滑站'
                ,'再磨机传动齿轮','再磨机传动部电机','再磨机慢速驱动装置','MQY2745高低压稀油润滑系统','FX350-GT旋流器'),part  DESC
    </select>

    <select id="REPORT_SB_MK_QMJ_RUN_LIST" resultType="com.demo.model.report.Report">
    	SELECT
					devName  as equipName,
					(CASE WHEN SC_PART LIKE '%进料管、进料短接、溢流弯管、阀门' THEN '进料管、进料短接、溢流弯管、阀门'
					WHEN SC_PART LIKE '%进料分配器、溢流箱、沉砂箱防护衬' THEN '进料分配器、溢流箱、沉砂箱防护衬'
					WHEN SC_PART LIKE '%各紧固螺栓' THEN '各紧固螺栓'
					WHEN SC_PART LIKE '%内衬' THEN '内衬'
					ELSE SC_PART
					END
					) as part,
					RESULT as result,
					ALTPID as altpid
        FROM
					dxj_spot_result
		WHERE
				DEPT_NAME="磨浮设备"
            AND  (ZONE_NAME='球磨机' OR ZONE_NAME='FX660-GT旋流器'  or ZONE_NAME='球磨机稀油润滑系统'  )
			AND  (SC_PART NOT LIKE '%磨损量' and SC_PART NOT LIKE '摩擦%' and SC_PART != '气胎' )
            AND TASKSTART_TM="${time}"
        ORDER BY
            FIELD(equipName,'球磨机结构','球磨机气动离合器','球磨机干油润滑站'
            ,'球磨机传动齿轮','球磨机传动部电机','球磨机慢速驱动装置','MQY4870高低压稀油润滑系统','FX660-GT旋流器（A组）','FX660-GT旋流器（B组）'),part  DESC
    </select>



    <select id="REPORT_SB_MK_BZMJ_RUN_LIST" resultType="com.demo.model.report.Report">
		SELECT
					devName as equipName,
					SC_PART as part,
					RESULT as result,
					ALTPID as altpid
        FROM
					dxj_spot_result
		WHERE
			   DEPT_NAME="磨浮设备"
            AND  (ZONE_NAME='半自磨机' or ZONE_NAME='半自磨机稀油润滑系统' )
			AND  (SC_PART NOT LIKE '%磨损量' and SC_PART NOT LIKE '摩擦%' and SC_PART != '气胎' )
            AND TASKSTART_TM="${time}"
        ORDER BY
            FIELD(equipName,'半自磨机结构','半自磨机气动离合器','半自磨机干油润滑站'
            ,'半自磨机传动齿轮','半自磨机传动部电机','半自磨机慢速驱动装置','MZS6433高压稀油润滑系统','MZS6433低压稀油润滑系统'),part  DESC
    </select>



    <select id="REPORT_SB_MK_ZMJ_DCS_LIST" resultType="com.demo.model.report.Report">

        (SELECT

CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp'  THEN '主机轴承1温度最大值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最大值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最大值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最大值'
                END) AS part,
                MAX(DocValue)/10 as result,
                 'dcs' as altpid
        from
                docdata
        WHERE
                date_format(DataTime,'%Y-%m-%d') ="${time}"
                    and  (DocTagName='MQY2745.MainBear1Temp' OR DocTagName='MQY2745.MainBear2Temp'
                    OR DocTagName='MQY2745.MainBear3Temp' OR DocTagName='MQY2745.MainBear4Temp')

                  GROUP BY DocTagName
        )
        UNION
        (SELECT
            CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp' THEN '主机轴承1温度最小值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最小值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最小值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最小值'
                END) AS part,
                MIN(DocValue)/10 as result,
                 'dcs' as altpid

        from
                docdata
        WHERE
            date_format(DataTime,'%Y-%m-%d') ="${time}"

                and  (DocTagName='MQY2745.MainBear1Temp' OR DocTagName='MQY2745.MainBear2Temp'
                OR DocTagName='MQY2745.MainBear3Temp' OR DocTagName='MQY2745.MainBear4Temp')

            GROUP BY DocTagName
        )

        ORDER BY FIELD(part,'主机轴承1温度最大值','主机轴承1温度最小值','主机轴承2温度最大值','主机轴承2温度最小值'
        ,'主机轴承3温度最大值','主机轴承3温度最小值','主机轴承4温度最大值','主机轴承4温度最小值')



    </select>
    <select id="REPORT_SB_MK_BZMJ_DCS_LIST" resultType="com.demo.model.report.Report">
                (SELECT

CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp'  THEN '主机轴承1温度最大值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最大值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最大值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最大值'
                END) AS part,
                MAX(DocValue)/10 as result,
                 'dcs' as altpid
        from
                docdata
        WHERE
                date_format(DataTime,'%Y-%m-%d') ="${time}"
                    and  (DocTagName='MZS6433.MainBear1Temp' OR DocTagName='MZS6433.MainBear2Temp'
                    OR DocTagName='MZS6433.MainBear3Temp' OR DocTagName='MZS6433.MainBear4Temp')

                  GROUP BY DocTagName
        )
        UNION
        (SELECT
            CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp' THEN '主机轴承1温度最小值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最小值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最小值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最小值'
                END) AS part,
                min(DocValue)/10 as result,
                 'dcs' as altpid

        from
                docdata
        WHERE
            date_format(DataTime,'%Y-%m-%d') ="${time}"

                and  (DocTagName='MZS6433.MainBear1Temp' OR DocTagName='MZS6433.MainBear2Temp'
                OR DocTagName='MZS6433.MainBear3Temp' OR DocTagName='MZS6433.MainBear4Temp')

            GROUP BY DocTagName
        )

        ORDER BY FIELD(part,'主机轴承1温度最大值','主机轴承1温度最小值','主机轴承2温度最大值','主机轴承2温度最小值'
        ,'主机轴承3温度最大值','主机轴承3温度最小值','主机轴承4温度最大值','主机轴承4温度最小值')
    </select>
    <select id="REPORT_SB_MK_QMJ_DCS_LIST" resultType="com.demo.model.report.Report">
              (SELECT

CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp'  THEN '主机轴承1温度最大值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最大值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最大值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最大值'
                END) AS part,
                MAX(DocValue)/10 as result,
                 'dcs' as altpid
        from
                docdata
        WHERE
                date_format(DataTime,'%Y-%m-%d') ="${time}"
                    and  (DocTagName='MQY4870.MainBear1Temp' OR DocTagName='MQY4870.MainBear2Temp'
                    OR DocTagName='MQY4870.MainBear3Temp' OR DocTagName='MQY4870.MainBear4Temp')

                  GROUP BY DocTagName
        )
        UNION
        (SELECT
            CONCAT("${equip}",'主机轴承') as equipName,
                (CASE
                WHEN DocTagName LIKE '%MainBear1Temp' THEN '主机轴承1温度最小值'
                WHEN DocTagName LIKE '%MainBear2Temp'  THEN '主机轴承2温度最小值'
                WHEN DocTagName LIKE '%MainBear3Temp'  THEN '主机轴承3温度最小值'
                WHEN DocTagName LIKE '%MainBear4Temp'  THEN '主机轴承4温度最小值'
                END) AS part,
                min(DocValue)/10 as result,
                 'dcs' as altpid

        from
                docdata
        WHERE
            date_format(DataTime,'%Y-%m-%d') ="${time}"

                and  (DocTagName='MQY4870.MainBear1Temp' OR DocTagName='MQY4870.MainBear2Temp'
                OR DocTagName='MQY4870.MainBear3Temp' OR DocTagName='MQY4870.MainBear4Temp')

            GROUP BY DocTagName
        )

        ORDER BY FIELD(part,'主机轴承1温度最大值','主机轴承1温度最小值','主机轴承2温度最大值','主机轴承2温度最小值'
        ,'主机轴承3温度最大值','主机轴承3温度最小值','主机轴承4温度最大值','主机轴承4温度最小值')
    </select>


</mapper>