<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.gfj.SpotGfj3DetailedMapper">
        <select id="SPOT_GFJ3_MK_LIST" resultType="com.demo.model.equip.detailedData">
select
         '设备' as 'devName',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_CONTENT='电机及风机各紧固螺栓是否有松动'      )       THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_CONTENT='运行是否有异响')       THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_CONTENT='进出口阀门是否能正常开启'  )       THEN tempResult  end )  as  'a3',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_CONTENT='机体、管路是否漏气'  )       THEN tempResult  end )  as  'a4',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_CONTENT='轴向窜动是否在标准范围内'      )       THEN tempResult  end )  as  'a5',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT LIKE '供回油管%')       THEN tempResult  end )  as  'a6',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT LIKE '油箱油位%'  )       THEN tempResult  end )  as  'a7',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT like '油箱内%'  )       THEN tempResult  end )  as  'a8',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT like '油泵运转%'      )       THEN tempResult  end )  as  'a9',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT like '油泵压力%')       THEN tempResult  end )  as  'a10',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT LIKE '供油压力%'  )       THEN tempResult  end )  as  'a11',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT='油站供油温度'  )       THEN RESULT  end )  as  'a12',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT='油站油箱温度'  )       THEN RESULT  end )  as  'a13',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT LIKE '冷却器%'  )       THEN tempResult  end )  as  'a14',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_CONTENT like '回油滤网%'  )       THEN tempResult  end )  as  'a15'

FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
						WHEN RESULT='手工已检' THEN REMARK
						WHEN ((SC_CONTENT!='油站供油温度') AND (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
						WHEN ((SC_CONTENT!='油站油箱温度') AND (ALTPID = 0))  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
					DEPT_NAME='磨浮设备' AND
						(
						devName='3#离心式鼓风机' OR devName='3#离心式鼓风机稀油站'
						)
			AND

date(uploadResultTime) >= DATE_SUB(CURDATE(), INTERVAL 14 DAY)
-- 							to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
        </select>
    <select id="SPOT_GFJ3_DY_LIST" resultType="com.demo.model.equip.detailedData">
select
         '电仪' as 'devName',
		MAX(CASE WHEN ( devName='3#鼓风机电机' and SC_PART='本体'      )       THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN ( devName='3#鼓风机电机' and SC_PART='各紧固螺栓')       THEN tempResult  end )  as  'a2',
		MAX(CASE WHEN ( devName='3#鼓风机电机' and SC_CONTENT='测振'  )       THEN RESULT  end )  as  'a3',
		MAX(CASE WHEN ( devName='3#鼓风机电机' and SC_CONTENT='测温'  )       THEN RESULT  end )  as  'a4',
		MAX(CASE WHEN ( devName='3#鼓风机1#稀油站电机' and SC_PART='本体'      )       THEN tempResult  end )  as  'a5',
		MAX(CASE WHEN ( devName='3#鼓风机1#稀油站电机' and SC_PART='各紧固螺栓')       THEN tempResult  end )  as  'a6',
		MAX(CASE WHEN ( devName='3#鼓风机1#稀油站电机' and SC_CONTENT='测振'  )       THEN RESULT  end )  as  'a7',
		MAX(CASE WHEN ( devName='3#鼓风机1#稀油站电机' and SC_CONTENT='测温'  )       THEN RESULT  end )  as  'a8',
		MAX(CASE WHEN ( devName='3#鼓风机2#稀油站电机' and SC_PART='本体'      )       THEN tempResult  end )  as  'a9',
		MAX(CASE WHEN ( devName='3#鼓风机2#稀油站电机' and SC_PART='各紧固螺栓')       THEN tempResult  end )  as  'a10',
		MAX(CASE WHEN ( devName='3#鼓风机2#稀油站电机' and SC_CONTENT='测振'  )       THEN RESULT  end )  as  'a11',
		MAX(CASE WHEN ( devName='3#鼓风机2#稀油站电机' and SC_CONTENT='测温'  )       THEN RESULT  end )  as  'a12'
FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
							WHEN RESULT='停机不检' THEN RESULT
						WHEN ((SC_PART!='振动') AND (ALTPID = 2 OR ALTPID=1) )  THEN '故障'
						WHEN ((SC_PART!='振动') AND (ALTPID = 0))  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
					DEPT_NAME='电仪工段' AND
						(
						devName='3#鼓风机电机' OR devName='3#鼓风机1#稀油站电机'
						OR devName='3#鼓风机2#稀油站电机'
						)
			AND

							to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp

    </select>
    <select id="SPOT_GFJ3_SC_LIST" resultType="com.demo.model.equip.detailedData">
select
         '生产' as 'devName',
		MAX(CASE WHEN ( devName='3#离心式鼓风机' and SC_PART='控制柜')    THEN tempResult  end )  as  'a1',
		MAX(CASE WHEN ( devName='3#离心式鼓风机稀油站' and SC_PART='冷却水'      )       THEN tempResult  end )  as  'a2'

FROM
		(
			SELECT
						SC_PART,devName,SC_CONTENT,RESULT,
						(CASE
						WHEN (ALTPID = 2 OR ALTPID=1 )  THEN '故障'
						WHEN (ALTPID = 0)  THEN '正常'
								ELSE RESULT
						END ) as tempResult
			FROM
					dxj_spot_result
			WHERE
					DEPT_NAME='磨浮生产' AND
						(
						devName='3#离心式鼓风机' OR devName='3#离心式鼓风机稀油站'
						)
			AND

-- date(uploadResultTime) >= DATE_SUB(CURDATE(), INTERVAL 14 DAY)
							to_days(TASKSTART_TM) = to_days(now())-- 当天数据
		)as temp
    </select>

</mapper>