<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.Cms.app.AppMapper">
    <insert id="app_jjb_write">

    INSERT INTO  dxj_jjb_write (dataTime, job,jjbTagName,jjbValue)

      VALUES( "${dateTime}", "${job}","${jjbTagName}","${jjbValue}")

    </insert>
    <insert id="app_shift_duty_handover">
        INSERT INTO

        dxj_shift_duty (handoverTime,jjb_id ,deptName,job,handoverTeam,handoverDuty,handoverName,handoverContent)

        VALUES( "${handoverTime}","${id}", "${deptName}","${job}","${handoverTeam}", "${handoverDuty}","${handoverName}","${handoverContent}")

    </insert>
    <insert id="app_set_maintenance">
        INSERT INTO

        dxj_maintenance (dataTime,deptName,routeName ,zoneName,devName,description,pic,discoverer,phone)

        VALUES( NOW(),"${deptName}","${routeName}", "${zoneName}","${devName}","${description}", "${pic}","${discoverer}","${phone}")

    </insert>
    <update id="app_shift_duty_succession">

               UPDATE dxj_shift_duty
        SET
                succeedTeam="${succeedTeam}",
                succeedDuty="${succeedDuty}",
                succeedName="${succeedName}",
                succeedContent="${succeedContent}",
                succeedTime="${succeedTime}"


      WHERE
                jjb_id="${id}"

    </update>

    <select id="App_Spot_Result" resultType="com.demo.model.universal.AppReport">
        SELECT
            DEPT_NAME,ROUTE_NAME,ZONE_NAME,devName,SC_PART,SC_CONTENT,RESULT,USERNAME,CHARGE_CNAME,
            DATE_FORMAT(TASKSTART_TM, '%Y-%m-%d %T') as TASKSTART_TM,
            DATE_FORMAT(TASKEND_TM, '%Y-%m-%d %T') as TASKEND_TM,
            ALTPID,
            DATE_FORMAT(uploadResultTime, '%Y-%m-%d %T') as uploadResultTime
        FROM
            dxj_spot_result
        WHERE
            DEPT_NAME = "${deptName}"
        AND ROUTE_NAME="${job}"
        AND	TASKSTART_TM >= "${startTime}"
        AND "${endTime}"> TASKSTART_TM

    </select>
    <select id="app_user_login" resultType="com.demo.model.app.AppLoginUser">

SELECT
        DATE_FORMAT(d.STARTTIME,'%Y-%m-%d') as date
				,DATE_FORMAT(a.STARTTIME,'%H:%i:%s') as startTime
				,DATE_FORMAT(a.ENDTIME,'%H:%i:%s') as endTime
                ,(case WHEN c.ROUTE_NAME='鼓风机' OR c.ROUTE_NAME LIKE '%浮选%' then '浮选岗' ELSE c.ROUTE_NAME END) as job
                ,c.USER_USERNAME userID,
                c.USER_CNAME userName,
                a.`NAME` as dutyName ,
                e.`NAME` deptName,
                d.META3 as meta
                ,c.SHIFT_NAME as team

 from
        dxj_spot_turn a,dxj_sys_user b,dxj_spot_shift_user c,dxj_spot_turn_rule d,dxj_sys_dept e
 WHERE
						a.DEPT_ID=b.BELONG_DEPT
				AND b.USERNAME="${userName}"
        and c.USER_USERNAME=b.USERNAME
        AND d.DEPT_ID=a.DEPT_ID
        AND e.ID=b.BELONG_DEPT
        and DATE_FORMAT(d.STARTTIME,'%Y-%m-%d')="${cycleContentDate}"
        AND d.META3 is not NULL
        AND c.SHIFT_ID= d.WATCH_ID
        and a.ID=d.SQUAD_ID
-- AND DATE_FORMAT(a.STARTTIME - INTERVAL 30 MINUTE,'%H:%i:%s') > DATE_FORMAT(NOW(),'%H:%i:%s')
GROUP BY   a.STARTTIME,a.ENDTIME,d.STARTTIME,c.ROUTE_NAME,c.USER_USERNAME,c.USER_CNAME,a.`NAME`,c.SHIFT_NAME,d.META3

    </select>
    <select id="app_user_getCycle" resultType="com.demo.model.app.AppCycle">

    SELECT
          COUNT(DISTINCT(a.META1)) as cycleDays,
          DATE_FORMAT(MIN(a.META1),'%Y-%m-%d') as startDate
    from
          dxj_spot_turn_rule a,dxj_sys_user b,dxj_sys_dept c
    WHERE
          a.DEPT_ID=b.BELONG_DEPT
        AND b.USERNAME="${userName}"
    </select>
    <select id="app_jjb_dcs_mk" resultType="com.demo.model.app.AppDCS">

     SELECT
        a.DataTime,REPLACE(a.TagName,'.','_') as variable,b.Limit_LL,b.Limit_L,b.Limit_H,b.Limit_HH,b.ALarm_Mode,
        (CASE
            WHEN a.TagName like 'MQY2745_M%' THEN  ROUND((a.DocValue/10),2)
            WHEN a.TagName like 'MQY4870_M%' THEN  ROUND((a.DocValue/10),2)
            WHEN a.TagName like 'MZS6433%' and  a.TagName != 'MZS6433.Indict.P3' THEN  ROUND((a.DocValue/100),2)
            ELSE ROUND(DocValue,2)
            END
         )as DocValue ,
        b.Description as 'description'
        ,b.Unit as unit
    FROM
        rcd_hour a,cfg_taglist b
    WHERE
				<if test="mj=='zmj'">
                    (
                          a.TagName='MQY2745.PowerAveTemp' -- 再磨机机功率
                        OR a.TagName='MQY2745.MnMtrBearTemp_1' -- 主电机轴承1温度
                        OR a.TagName='MQY2745.MnMtrBearTemp_2' -- 主电机轴承2温度
                        OR a.TagName='MQY2745.MnMtrPhsATemp' -- 主电机定子1温度
                        OR a.TagName='MQY2745.MnMtrPhsBTemp' -- 主电机定子2温度
                        OR a.TagName='MQY2745.MnMtrPhsCTemp' -- 主电机定子3温度
                        OR a.TagName='MQY2745.MainBear1Temp' -- 主轴承1温度
                        OR a.TagName='MQY2745.MainBear2Temp' -- 主轴承2温度
                        OR a.TagName='MQY2745.MainBear3Temp' -- 主轴承3温度
                        OR a.TagName='MQY2745.MainBear4Temp' -- 主轴承4温度
                        OR a.TagName='MK.FEED.ORE.WIC.SUM' -- 台效
                        OR a.TagName='c1HydrCrX2_11B.OPrs' -- 液力耦合器B出口油压
                        OR a.TagName='c1HydrCrX2_11A.OTmpr' -- 耦合器A出口油温
                    -- OR a.TagName='c1HydrCrX2_11B.OTmpr' -- 耦合器B出口油温
                    OR a.TagName='350YL.PV' -- 旋流器（350）进浆压力
                    )
                </if>
                <if test="mj=='qmj'">
                    (  a.TagName='MQY4870.Indict.P3' -- 球磨机功率
                    OR a.TagName='MQY4870.MnMtrBearTemp_1' -- 主电机轴承1温度
                    OR a.TagName='MQY4870.MnMtrBearTemp_2' -- 主电机轴承2温度
                    OR a.TagName='MQY4870.MnMtrPhsATemp' -- 主电机定子1温度
                    OR a.TagName='MQY4870.MnMtrPhsBTemp' -- 主电机定子2温度
                    OR a.TagName='MQY4870.MnMtrPhsCTemp' -- 主电机定子3温度
                    OR a.TagName='MQY4870.SmlBearFlo1' -- 小齿轮流量1
                    OR a.TagName='MQY4870.SmlBearFlo2' -- 小齿轮流量2
                    OR a.TagName='MQY4870.MainBear1Temp' -- 主轴承1温度
                    OR a.TagName='MQY4870.MainBear2Temp' -- 主轴承2温度
                    OR a.TagName='MQY4870.MainBear3Temp' -- 主轴承3温度
                    OR a.TagName='MQY4870.MainBear4Temp' -- 主轴承4温度
                    )
                </if>
                <if test="mj=='bzmj'">
                    (	a.TagName='MZS6433.Indict.P3'   -- 半自磨机功率
                    OR	a.TagName='MZS6433.G_ZC_1_T'   -- 半自磨固定端轴承1#温度
                    OR	a.TagName='MZS6433.G_ZC_2_T'   -- 半自磨固定端轴承2#温度
                    OR	a.TagName='MK.SAG.Z_ZC_1_T'   -- 半自磨自由端轴承1#温度
                    OR	a.TagName='MK.SAG.Z_ZC_2_T'   -- 半自磨自由端轴承1#温度
                    OR	a.TagName='MZS6433.C_ZC_MQ_T'   -- 半自磨小齿轮轴承慢驱侧温度
                    OR	a.TagName='MZS6433.C_ZC_LH_T'   -- 半自磨小齿轮轴承离合器侧温度
                    OR	a.TagName='MZS6433.ZDJ_ZC_QD_T'   -- 半自磨主电机轴承驱动侧温度
                    OR	a.TagName='MZS6433.ZDJ_ZC_FQD_T'   -- 半自磨主电机轴承非驱动侧温度
                    OR	a.TagName='MZS6433.ZDJ_DZ_A1_T'   -- 半自磨主电机定子温度A1
                    OR	a.TagName='MZS6433.ZDJ_DZ_B1_T'   -- 半自磨主电机定子温度B1
                    OR	a.TagName='MZS6433.ZDJ_DZ_C1_T'   -- 半自磨主电机定子温度C1
                    OR	a.TagName='MZS6433.ZZC_RH_YX_T'   -- 半自磨主轴承润滑站油箱温度
                    OR	a.TagName='MZS6433.ZZC_RH_HY_T'   -- 半自磨主轴承润滑站回油侧温度
                    OR	a.TagName='MZS6433.ZZC_RH_DYGY_T'   -- 半自磨主轴承润滑站回油侧温度
                    OR	a.TagName='MZS6433.C_XY_1_GYK_T'   -- 半自磨小齿轮稀油站1#供油口温度
                    OR	a.TagName='MZS6433.ZZC_RH_G_1_P'   -- 半自磨主轴承润滑站固定端1#高压油压
                    OR	a.TagName='MZS6433.ZZC_RH_G_2_P'   -- 半自磨主轴承润滑站固定端2#高压油压
                    OR	a.TagName='MZS6433.ZZC_RH_G_3_P'   -- 半自磨主轴承润滑站自由端1#高压油压
                    OR	a.TagName='MZS6433.ZZC_RH_G_4_P'   -- 半自磨主轴承润滑站自由端2#高压油压
                    OR	a.TagName='MZS6433.C_1_L'   -- 半自磨1#小齿轮油流
                    OR	a.TagName='MZS6433.C_2_L'   -- 半自磨2#小齿轮油流
                    OR	a.TagName='MZS6433.ZDJ_1_ZC_L'   -- 半自磨1#主电机轴承油流
                    OR	a.TagName='MZS6433.ZDJ_2_ZC_L'   -- 半自磨2#主电机轴承油流
                    OR	a.TagName='MZS6433.QD_ZC_H_Z'   -- 半自磨驱动端主电机轴承水平振动
                    OR	a.TagName='MZS6433.FQD_ZC_H_Z'   -- 半自磨非驱动端主电机轴承水平振动
                    OR	a.TagName='MZS6433.C_QD_ZC_H_Z'   -- 半自磨小齿轮驱动侧轴承水平振动
                    OR	a.TagName='MZS6433.C_QD_ZC_V_Z'   -- 半自磨小齿轮驱动侧轴承垂直振动
                    OR	a.TagName='MZS6433.C_FQD_ZC_H_Z'   -- 半自磨小齿轮非驱动侧轴承水平振动
                    OR	a.TagName='MZS6433.C_FQD_ZC_V_Z'   -- 半自磨小齿轮非驱动侧轴承垂直振动
                    OR	a.TagName='MZS6433.ZDJ_V'   -- 半自磨主电机速度
                    OR	a.TagName='MZS6433.ZDJ_L'   -- 半自磨主电机电流
                    )
                </if>
                    AND	DataTime >= "${metaStartTime}"
                    AND NOW()> DataTime
                    AND "${metaEndTime}">DataTime
                    AND a.TagName=b.TagName

    </select>
    <select id="app_jjb_getNextUser" resultType="com.demo.model.app.AppLoginUser">


SELECT
        e.`NAME` deptName,
        c.SHIFT_NAME as team ,
        c.USER_USERNAME userID,
        c.USER_CNAME userName,
        a.`NAME` as dutyName ,
        d.META3 as meta

 from
        dxj_spot_turn a,dxj_sys_user b,dxj_spot_shift_user c,dxj_spot_turn_rule d,dxj_sys_dept e
 WHERE
			a.DEPT_ID=b.BELONG_DEPT
		AND c.ROUTE_NAME="${job}"
        AND c.USER_USERNAME=b.USERNAME
        AND e.ID=b.BELONG_DEPT
        AND DATE_FORMAT(d.STARTTIME,'%Y-%m-%d')="${date}"
        AND c.SHIFT_ID= d.WATCH_ID
        AND a.ID=d.SQUAD_ID
		AND d.META3="${meta}"
GROUP BY
			a.STARTTIME,a.ENDTIME,d.STARTTIME,c.ROUTE_NAME,c.USER_USERNAME,c.USER_CNAME,a.`NAME`,c.SHIFT_NAME,d.META3
    </select>
    <select id="app_user_getjjbID" resultType="com.demo.model.app.AppLoginUser">
        SELECT jjb_id from dxj_shift_duty
            WHERE
            deptName="${deptName}"
            AND job="${job}"
            AND date_format(handoverTime,'%Y-%m-%d')=date_format(NOW(),'%Y-%m-%d')
            ORDER BY handoverTime desc LIMIT 1
    </select>
    <select id="app_jjb_getWrite" resultType="com.demo.model.app.AppDemandWriteData">
SELECT
    a.jjbTagName as TagName,b.Description Description,a.jjbValue value,b.Unit Unit
from
    dxj_jjb_write a,dxj_taglist b
WHERE
(
        <if test="job=='磨矿岗'">
            <if test="equip=='qmj'">
                TagName = 'qmjRunTime'
                OR TagName = 'qmjLowPressureOilPumpRunTime'
                OR TagName = 'coarseSandPump1RunTime'
                OR TagName = 'coarseSandPump2RunTime'
                OR TagName = 'cyclone660A1RunTime'
                OR TagName = 'cyclone660A2RunTime'
                OR TagName = 'cyclone660A3RunTime'
                OR TagName = 'cyclone660A4RunTime'
                OR TagName = 'cyclone660A5RunTime'
                OR TagName = 'cyclone660A6RunTime'
                OR TagName = 'cyclone660A7RunTime'
                OR TagName = 'cyclone660B1RunTime'
                OR TagName = 'cyclone660B2RunTime'
                OR TagName = 'cyclone660B3RunTime'
                OR TagName = 'cyclone660B4RunTime'
                OR TagName = 'qmjDryOilRunTime'
                OR TagName = 'qmjHygiene'
            </if>
            --         半自磨机
            <if test="equip=='bzmj'">
                TagName = 'bzmjRunTime'
                OR TagName = 'bzmjLowPressureOilPumpRunTime'
                OR TagName = 'bzmjDryOilRunTime'
                OR TagName = 'bzmjHygiene'
            </if>
            --         再磨机
            <if test="equip=='zmj'">
                TagName = 'zmjSandPump1RunTime'
                OR TagName = 'zmjSandPump2RunTime'
                OR TagName = 'zmjLowPressureOilPumpRunTime'
                OR TagName = 'zmjRunTime'
                OR TagName = 'cyclone350_1RunTime'
                OR TagName = 'cyclone350_2RunTime'
                OR TagName = 'cyclone350_3RunTime'
                OR TagName = 'cyclone350_4RunTime'
                OR TagName = 'cyclone350_5RunTime'
                OR TagName = 'cyclone350_6RunTime'
                OR TagName = 'cyclone350_7RunTime'
                OR TagName = 'cyclone350_8RunTime'
                OR TagName = 'cyclone350_9RunTime'
                OR TagName = 'cyclone350_10RunTime'
                OR TagName = 'zmjDryOilRunTime'
                OR TagName = 'zmjHygiene'
            </if>
        </if>

    )
    AND dataTime > DATE_SUB(NOW(),INTERVAL  1 HOUR)
    AND a.jjbTagName=b.TagName
--     AND job = "${job}"
    </select>

    <!--获取岗位须填写的字段-->
    <select id="app_jjb_getDemandWrite" resultType="com.demo.model.app.AppDemandWriteData">
        SELECT
            TagName,Description,Unit
        from
            dxj_taglist
        WHERE
        (
--         球磨机
        <if test="job=='磨矿岗'">
            <if test="equip=='qmj'">
                 TagName = 'qmjRunTime'
                OR TagName = 'qmjLowPressureOilPumpRunTime'
                OR TagName = 'coarseSandPump1RunTime'
                OR TagName = 'coarseSandPump2RunTime'
                OR TagName = 'cyclone660A1RunTime'
                OR TagName = 'cyclone660A2RunTime'
                OR TagName = 'cyclone660A3RunTime'
                OR TagName = 'cyclone660A4RunTime'
                OR TagName = 'cyclone660A5RunTime'
                OR TagName = 'cyclone660A6RunTime'
                OR TagName = 'cyclone660A7RunTime'
                OR TagName = 'cyclone660B1RunTime'
                OR TagName = 'cyclone660B2RunTime'
                OR TagName = 'cyclone660B3RunTime'
                OR TagName = 'cyclone660B4RunTime'
                OR TagName = 'qmjDryOilRunTime'
                OR TagName = 'qmjHygiene'
            </if>
--         半自磨机
            <if test="equip=='bzmj'">
                 TagName = 'bzmjRunTime'
                OR TagName = 'bzmjLowPressureOilPumpRunTime'
                OR TagName = 'bzmjDryOilRunTime'
                OR TagName = 'bzmjHygiene'
            </if>
--         再磨机
            <if test="equip=='zmj'">
                 TagName = 'zmjSandPump1RunTime'
                OR TagName = 'zmjSandPump2RunTime'
                OR TagName = 'zmjLowPressureOilPumpRunTime'
                OR TagName = 'zmjRunTime'
                OR TagName = 'cyclone350_1RunTime'
                OR TagName = 'cyclone350_2RunTime'
                OR TagName = 'cyclone350_3RunTime'
                OR TagName = 'cyclone350_4RunTime'
                OR TagName = 'cyclone350_5RunTime'
                OR TagName = 'cyclone350_6RunTime'
                OR TagName = 'cyclone350_7RunTime'
                OR TagName = 'cyclone350_8RunTime'
                OR TagName = 'cyclone350_9RunTime'
                OR TagName = 'cyclone350_10RunTime'
                OR TagName = 'zmjDryOilRunTime'
                OR TagName = 'zmjHygiene'
            </if>
        </if>
         )
    </select>
    <select id="app_jjb_getemandSpotWrite" resultType="com.demo.model.app.AppDemandWriteData">
        SELECT  *
        from
            dxj_taglist
        WHERE
          <if test="job=='磨矿岗'">
              <if test="equip=='qmj'">
                  TagName LIKE 'mk__QmjCheck%'
              </if>
              <if test="equip=='zmj'">
                  TagName LIKE 'mk__ZmjCheck%'
              </if>
              <if test="equip=='bzmj'">
                  TagName LIKE 'mk__BzmjCheck%'
              </if>
          </if>
          <if test="job=='皮带岗'">
              TagName LIKE 'mk__PdCheck%'
          </if>
            <if test="meta==1">
                AND( (substring(TagName, 3, 2)>=0 AND 8>substring(TagName, 3, 2) )
                or ( substring(TagName, 3, 2)>=20 AND 23>=substring(TagName, 3, 2)))
            </if>
            <if test="meta==2">
                AND substring(TagName, 3, 2)>7 AND 20>substring(TagName, 3, 2)
            </if>
            <if test="meta==3">
                AND( (substring(TagName, 3, 2)>=0 AND 8>substring(TagName, 3, 2) )
                or ( substring(TagName, 3, 2)>=20 AND 23>=substring(TagName, 3, 2)))
            </if>
    </select>
    <select id="app_jjb_getspotWrite" resultType="com.demo.model.app.AppDemandWriteData">


        SELECT a.jjbTagName TagName,a.jjbValue value,b.Description as Description
        from dxj_jjb_write as a ,dxj_taglist as b
        WHERE
        a.jjbTagName=b.TagName
        <if test="equip=='qmj'">
            <if test="meta==2">
                and (
                    a.jjbTagName like 'mk08QmjCheck%'
                or a.jjbTagName like 'mk09QmjCheck%'
                or a.jjbTagName like 'mk10QmjCheck%'
                or a.jjbTagName like 'mk11QmjCheck%'
                or a.jjbTagName like 'mk12QmjCheck%'
                or a.jjbTagName like 'mk13QmjCheck%'
                or a.jjbTagName like 'mk14QmjCheck%'
                or a.jjbTagName like 'mk15QmjCheck%'
                or a.jjbTagName like 'mk16QmjCheck%'
                or a.jjbTagName like 'mk17QmjCheck%'
                or a.jjbTagName like 'mk18QmjCheck%'
                or a.jjbTagName like 'mk19QmjCheck%')
            </if>
            <if test="meta==3 || meta==1">
                and (
                a.jjbTagName like 'mk00QmjCheck%'
                or a.jjbTagName like 'mk01QmjCheck%'
                or a.jjbTagName like 'mk02QmjCheck%'
                or a.jjbTagName like 'mk03QmjCheck%'
                or a.jjbTagName like 'mk04QmjCheck%'
                or a.jjbTagName like 'mk05QmjCheck%'
                or a.jjbTagName like 'mk06QmjCheck%'
                or a.jjbTagName like 'mk07QmjCheck%'
                or a.jjbTagName like 'mk20QmjCheck%'
                or a.jjbTagName like 'mk21QmjCheck%'
                or a.jjbTagName like 'mk22QmjCheck%'
                or a.jjbTagName like 'mk23QmjCheck%'
                )
            </if>

        </if>
        <if test="equip=='zmj'">
            <if test="meta==2">
                and (
                a.jjbTagName like 'mk08ZmjCheck%'
                or a.jjbTagName like 'mk09ZmjCheck%'
                or a.jjbTagName like 'mk10ZmjCheck%'
                or a.jjbTagName like 'mk11ZmjCheck%'
                or a.jjbTagName like 'mk12ZmjCheck%'
                or a.jjbTagName like 'mk13ZmjCheck%'
                or a.jjbTagName like 'mk14ZmjCheck%'
                or a.jjbTagName like 'mk15ZmjCheck%'
                or a.jjbTagName like 'mk16ZmjCheck%'
                or a.jjbTagName like 'mk17ZmjCheck%'
                or a.jjbTagName like 'mk18ZmjCheck%'
                or a.jjbTagName like 'mk19ZmjCheck%')
            </if>
            <if test="meta==1|| meta==3">
                and (
                a.jjbTagName like 'mk00ZmjCheck%'
                or a.jjbTagName like 'mk01ZmjCheck%'
                or a.jjbTagName like 'mk02ZmjCheck%'
                or a.jjbTagName like 'mk03ZmjCheck%'
                or a.jjbTagName like 'mk04ZmjCheck%'
                or a.jjbTagName like 'mk05ZmjCheck%'
                or a.jjbTagName like 'mk06ZmjCheck%'
                or a.jjbTagName like 'mk07ZmjCheck%'
                or a.jjbTagName like 'mk20ZmjCheck%'
                or a.jjbTagName like 'mk21ZmjCheck%'
                or a.jjbTagName like 'mk22ZmjCheck%'
                or a.jjbTagName like 'mk23ZmjCheck%'
                )
            </if>


        </if>
        <if test="equip=='bzmj'">
            <if test="meta==2">
                and (
                a.jjbTagName like 'mk08BzmjCheck%'
                or a.jjbTagName like 'mk09BzmjCheck%'
                or a.jjbTagName like 'mk10BzmjCheck%'
                or a.jjbTagName like 'mk11BzmjCheck%'
                or a.jjbTagName like 'mk12BzmjCheck%'
                or a.jjbTagName like 'mk13BzmjCheck%'
                or a.jjbTagName like 'mk14BzmjCheck%'
                or a.jjbTagName like 'mk15BzmjCheck%'
                or a.jjbTagName like 'mk16BzmjCheck%'
                or a.jjbTagName like 'mk17BzmjCheck%'
                or a.jjbTagName like 'mk18BzmjCheck%'
                or a.jjbTagName like 'mk19BzmjCheck%'
                )
            </if>
            <if test="meta==1 || meta==3">
                and (
                a.jjbTagName like 'mk00BzmjCheck%'
                or a.jjbTagName like 'mk01BzmjCheck%'
                or a.jjbTagName like 'mk02BzmjCheck%'
                or a.jjbTagName like 'mk03BzmjCheck%'
                or a.jjbTagName like 'mk04BzmjCheck%'
                or a.jjbTagName like 'mk05BzmjCheck%'
                or a.jjbTagName like 'mk06BzmjCheck%'
                or a.jjbTagName like 'mk07BzmjCheck%'
                or a.jjbTagName like 'mk20BzmjCheck%'
                or a.jjbTagName like 'mk21BzmjCheck%'
                or a.jjbTagName like 'mk22BzmjCheck%'
                or a.jjbTagName like 'mk23BzmjCheck%'
                )
            </if>
        </if>
        AND	DataTime >= "${metaStartTime}"
        AND NOW()> DataTime
        and  "${metaEndTime}">DataTime

    </select>
    <select id="app_jjb_getWriteData" resultType="com.demo.model.app.AppDemandWriteData">
          SELECT * from dxj_jjb_write
          WHERE
          jjbTagName="${field}"

        AND	DataTime >= "${metaStartTime}"
        AND NOW()> DataTime

    </select>

    <update id="app_jjb_updateWriteData" >
        UPDATE dxj_jjb_write SET jjbValue="${value}" WHERE jjbTagName="${field}"
        AND	DataTime >= "${metaStartTime}"
        AND NOW()> DataTime
    </update>


    <select id="app_jjb_getRunTime" resultType="com.demo.model.app.AppDCS">
        SELECT DATE_FORMAT(DataTime,"%Y-%m-%d %T")DataTime,DocTagName as variable,DocValue from docdata
        WHERE DocTagName = "${field}"
            AND	DataTime >= "${startTime}"
            AND "${endTime}"> DataTime
        ORDER BY DataTime
    </select>
    <select id="app_jjb_getLastRunTime" resultType="com.demo.model.app.AppDCS">
        SELECT a.DataTime DataTime,a.DocTagName  as variable,a.DocValue as DocValue ,b.Description from docdata a,cfg_taglist b
        WHERE a.DocTagName = "${field}"
           and "${startTime}" > a.DataTime
        AND a.DocTagName=b.TagName
        ORDER BY a.DataTime DESC limit 1
    </select>

    <select id="app_jjb_getRunTimeField" resultType="com.demo.model.app.AppDCS">
        SELECT distinct (TagName) as variable,Description as description
        FROM cfg_taglist  WHERE
        <if test="equip=='bzmj'">
            (TagName = 'MZS6433.MJ_Run'
            )
        </if>
        <if test="equip=='qmj'">
            (TagName = 'MQY4870.CabinetRun'
            )
        </if>
        <if test="equip=='zmj'">
            (TagName = 'MQY2745.CabinetRun'
            )
        </if>
    </select>
    <select id="pc_jjb_getDCSData" resultType="com.demo.model.equip.detailedData">

    </select>
    <select id="app_user_login1" resultType="com.demo.model.app.AppLoginUser">
SELECT a.CNAME as 'userName',b.NAME as 'deptName' from dxj_sys_user a,dxj_sys_dept b
WHERE
 a.USERNAME="${userName}"
AND a.PASSWORD="${passWord}"
AND  a.BELONG_DEPT =b.ID
AND b.LAYERCODE not like "00010003%"
-- ORDER BY b.LAYERCODE
    </select>
    <select id="app_get_dxjSearchResult" resultType="com.demo.model.interlocking.Interlocking">
        SELECT
        DEPT_NAME as deptName,ROUTE_NAME as routeName ,ZONE_NAME as zoneName ,devName,SC_PART as scPart,devName,
--         DATE_FORMAT(uploadResultTime, '%Y-%m-%d %T') as uploadResultTime,
--         SC_CONTENT as scContent,
--         RESULT as result,
--         USERNAME  as userName,
--         CHARGE_CNAME as personLiable, -- 责任人
--         std_value as stdValue,
        ALTPID  as altpid
--         alarm_flag as alarmFlag,
--         REMARK as remark
        from
        dxj_spot_result

        WHERE
            DEPT_NAME !='综合工段'
        <if test="startTime != ''">
            and  TASKSTART_TM>= "${startTime}"
        </if>
        <if test="endTime != ''">
            AND  TASKSTART_TM &lt; "${endTime}"
        </if>
        <if test="deptName != 'test' and deptName != ''">
            and  DEPT_NAME="${deptName}"
        </if>
        <if test="routeName != 'test' and routeName != ''">
            and ROUTE_NAME="${routeName}"
        </if>
        <if test="zoneName != 'test' and zoneName != ''">
            and ZONE_NAME="${zoneName}"
        </if>
    </select>
    <select id="app_get_team_scheduling" resultType="com.demo.model.app.AppScheduling">
				SELECT Dtime dTime ,banzu_nameID teamId,banzu_name teamName,banzu_order teamOrder
                FROM  cfg_paiban
                ORDER BY teamOrder
    </select>
    <select id="app_get_jjb_team_byUserId" resultType="com.demo.model.app.APPUserConfig">
        SELECT deptName,station as job,team,userId,userName from dxj_jjb_station_user
        WHERE
        userId="${userId}"
    </select>
    <select id="app_get_jjb_deptRoute" resultType="com.demo.model.universal.AppReport">
        SELECT  routeName as  ROUTE_NAME from dxj_jjb_station WHERE deptName="${deptName}" AND station="${job}"
    </select>

</mapper>