<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.equip.mk.zmj.AlarmZmjMapper">
        <select id="ALARM_ZMJ_LIST" resultType="com.demo.model.equip.SpotAlarm">
                SELECT
                        (
                            CASE
                            WHEN ROUTE_NAME = "磨机线路（电）" THEN
                                "电仪"
                            ELSE
                                "磨浮"
                            END
                        ) section,
                        uploadResultTime AS time,
                        devName AS equip,
                        SC_PART AS part,
                        SC_CONTENT AS spot,
                        ID as id,
                        RESULT AS value,
                        (
                            CASE
                            WHEN ALTPID = 1 THEN
                                "二级"
                            WHEN ALTPID = 2 THEN
                                "一级"
                            END
                        ) level,
                        std_value AS standard
                FROM
                        dxj_spot_result
                WHERE
                        (
                            (
                                ZONE_NAME = '再磨机'
                                OR ZONE_NAME = '再磨机稀油润滑系统'
                            )
                            OR (
                                devName = '磨机底层电仪设备'
                                AND SC_PART LIKE 'MQY2745%'
                            )
                              OR devName='MQY2745再磨机电仪设备'
                        )
                AND (ALTPID = 1 OR ALTPID = 2)
                and  alarm_flag='N'
                AND date(TASKSTART_TM) >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
                ORDER BY
                    uploadResultTime DESC;

        </select>

</mapper>